[2017-01-12 08:17] JusticeLai commented on #668
![image](https://cloud.githubusercontent.com/assets/13083749/21881738/806bda40-d8e2-11e6-85b9-ffb3f3f18cb8.png)

iPhone 6s Plus  Release  Error
iPhone 6s Plus  Debug  is ok

[2017-01-12 09:03] sergey-akhalkov commented on #668
@grabbou, got it, thanks!
It would be great to support #665 due to benefits you've described in  https://github.com/facebook/react-native/issues/11747#issuecomment-271989016.

So after releasing `react-native link ...` updates we would merge #655 and update the `react-native-code-push` documentation.

[2017-01-12 09:24] kevinTutu commented on #658
yes，we have use our code-push server ， the reason is out server problem，so sorry，I have thought code-push-cli problem，but is our problem

原始邮件
发件人:Vladimir Kotikovnotifications@github.com
收件人:Microsoft/react-native-code-pushreact-native-code-push@noreply.github.com
抄送:kevinTutuwangzihang@xiaohongchun.com; Mentionmention@noreply.github.com
发送时间:2017年1月5日(周四) 15:55
主题:Re: [Microsoft/react-native-cod

[2017-01-12 09:55] sergey-akhalkov commented on #668
@JusticeLai - hi!
I've got the same issue using initial `react-native` app, so I've created https://github.com/facebook/react-native/issues/11861

[2017-01-12 13:18] adbl commented on #629
Seeing this same problem on first run with Code Push support, release build on development device, there is no update pushed yet.

[code]

[2017-01-12 13:53] adbl commented on #629
Ignore that, the packager failed to build, but didn't stop xcode build 😨

[2017-01-12 19:30] ewindso commented on #669
Thanks @max-mironov -- I got this fixed by implementing `ReactInstanceHolder` and using `CodePush.setReactInstanceHolder`.

Seems to work like magic after that :)  No more infinite loops.

[2017-01-12 19:48] vonovak commented on #614
@silhouettes sorry to bother, do you have an opinion on this? Thanks

[2017-01-12 19:54] vonovak commented on #667
related #614

[2017-01-12 19:57] grabbou commented on #668
I'll then ship two things now, 1) the fix 2) that new features. Will update this issue accordingly.

[2017-01-12 20:00] #669 closed

[2017-01-13 04:04] patrickomeara opened #671 "Latest mandatory release isn't being deployed"
I have released to Staging and promoted to Production a few times without issue. However, the latest mandatory release won't go out to any users. I have killed and restarted the app numerous times, but I'm still not getting the update.

Am I missing something? How can I debug this further?

I am using `1.12.6-beta` as I am on RN `0.28.0` and updating breaks my app quite a bit. The release in quest

[2017-01-13 07:03] grabbou commented on #668
Fix has shipped here https://github.com/facebook/react-native/commit/545072b02d94e264a66987a5cebc15629a16f188. Watch out for a new release to land today or tomorrow

[2017-01-13 07:08] sergey-akhalkov commented on #668
@grabbou, got it, thanks!

[2017-01-13 14:28] adbl opened #672 "getUpdateMetadata gives false package with DEBUG build"
Running a DEBUG build in simulator (and probably on device too), using this in AppDelegate.m:

[code]

which should make it impossible that a Code Push update gets loaded?

1. The first run this works as expected, `codePush.getUpdateMetadata()` returns `null`.
2. During this run, Code Push detected, downloaded and installed an update.
3. During next launch, `codePush.getUpdateMetadata()` now gives

[2017-01-13 19:58] hojberg commented on #516
Is this supposed to be fixed in 1.16.1-beta ?

[2017-01-14 09:55] aiyidu commented on #660
@sergey-akhalkov
I am using mac. So the path actually is: "/usr/local/lib/node_modules/code-push-cli/script/command-executor.js "

The code-push version I am using is 1.12.6-beta

And I add log as below(which is a little different in mac):

exports.log("propertiesContent value: "+ propertiesContent);
exports.log("parsedProperties value: " + parsedProperties);
exports.log("appVersion value: " + app

[2017-01-14 12:37] JusticeLai commented on #668
@sergey-akhalkov
![image](https://cloud.githubusercontent.com/assets/13083749/21954882/1d15e2a2-da99-11e6-9c6e-f80716a16d82.png) still  same error,

Have you solved it?

[2017-01-15 23:30] stirman commented on #668
@grabbou any update on the next release with .40 support? Thx!

[2017-01-16 10:17] sergey-akhalkov commented on #668
@JusticeLai, I've applied this https://github.com/facebook/react-native/pull/11889/files changes and got `build success` in `release` mode.

[2017-01-16 11:55] sergey-akhalkov commented on #660
@aiyidu, value of `propertiesContent` variable looks weird, it should be equal to `gradle.properties` file content. [fs.readFileSync()](https://nodejs.org/api/fs.html#fs_fs_readfilesync_file_options) default node.js function is used to get `gradle.properties` file content, but for now it returns wrong value. You could try to update `node.js` version, it might help.

I run your command but get erro

[2017-01-16 16:06] anhtuank7c commented on #662
I have same problem with RN 0.40.0, RN-cli 2.0.1
[code]

[2017-01-16 21:48] ezyone123 commented on #668
I have tried all the above suggestions and have been able to building in release and debug mode. My issue is my staging build config in Xcode, it still complains about React/RCTBridge.h not found. My staging build configuration is a copy of production. I am not sure if this is a code push issue or a react native/my setup issue. I am just confused as to why release mode works but not staging when i

[2017-01-17 11:36] max-mironov commented on #671
Hello @patrickomeara, do you have a chance to verify that you can successfully get updates from your Staging deployment (which was promoted to v3 Prod)? If yes - please verify once again that your are running the app which is of version 0.4.0  and the Deployment key in plist file is correct.
You can also try to debug the app on iOS simulator which is configured with your prod release key to view t

[2017-01-17 13:24] sergey-akhalkov commented on #516
@hojberg - hi! [Changes fixing the issue](https://github.com/Microsoft/react-native-code-push/pull/526/files) are already in [CodePush.m](https://github.com/Microsoft/react-native-code-push/blob/v1.16.1-beta/ios/CodePush/CodePush.m) and [package-mixins.js](https://github.com/Microsoft/react-native-code-push/blob/v1.16.1-beta/package-mixins.js) files belong to `react-native-code-push` having versio

[2017-01-18 08:09] JusticeLai commented on #668
@sergey-akhalkov thanks ,build success...

[2017-01-18 10:20] sergey-akhalkov commented on #672
@adbl - hi!
`getUpdateMetadata` method returns info about latest installed package and supposes that local js code is in use, I don't sure if its behavior should be changed to determine js code location...
To make it easier to understand what js code location is in use we could output its location using this hack:
[code]
Depending on `jsCodeLocation` variable value it prints different paths:
1. `j

[2017-01-18 10:40] adbl commented on #672
I don't know if it should be changed either, but it did cause confusion for me at least. From that perspective it would be nicer if CodePush could detect that the bundle isn't actually `RUNNING` (which is the default query to `getMetaData`, because it is in fact not running.

If you don't think it should change then I can workaround this by either checking the source url as you suggest and match a

[2017-01-18 10:51] adbl commented on #672
Actually, given the documentation for `getUpdateMetadata`:

This update could be described as `UpdateState.PENDING`, but that might also be confusing, since codePush cannot know if it _will_ be loaded next time either. Maybe there could be an `UpdateState.INSTALLED` or `UpdateState.INACTIVE` with documentation describing the possible reasons for this update that is installed but still not running?

[2017-01-18 13:33] sergey-akhalkov commented on #672
@abdl, I've created https://github.com/Microsoft/react-native-code-push/pull/673 PR contains `isUsingReactNativeBundle` method. Please let me know if  you have any questions or see any issues.

[2017-01-18 16:12] iSimar commented on #629
[code]

Getting this error after trying to build for external device. Scheme is set to release.

[2017-01-18 16:27] adbl commented on #672
Nice @sergey-akhalkov!

Maybe we should also add a bit of documentation to `getUpdateMetadata` to describe the scenario I initially described which had me confused...?

[2017-01-19 00:56] silhouettes commented on #617
Great :) - so seems like the problem for most people was an intermediary mandatory release. Closing for now!

[2017-01-19 00:56] #617 closed

[2017-01-19 03:35] mongolgamestudio opened #674 "Android crashes after update from Play store"
* react-native-code-push version: 1.16.0-beta
* react-native version: 0.38.0
* iOS/Android/Windows version: Android 4, 5, 6, 7 (Specially Samsung)
* Does this reproduce on a debug build or release build? : Release
* Does this reproduce on a simulator, or only on a physical device? : Physical
* Repro steps and/or stack trace:
Deployed new update in Play store then pushes CodePush update to tell new

[2017-01-19 05:32] slicejunk commented on #668
@ezyone123
in case it may help for build process:
add
```$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)/include ```
to Xcode Build Settings / HEADER_SEARCH_PATHS

[2017-01-19 09:00] sergey-akhalkov commented on #672
@adbl, I've committed docs updates in https://github.com/Microsoft/react-native-code-push/pull/673

[2017-01-19 09:30] sergey-akhalkov commented on #674
@mongolgamestudio - hi!
Seems like you have faced with this issues: https://github.com/Microsoft/cordova-plugin-code-push/issues/196, https://github.com/Microsoft/react-native-code-push/issues/650
Could you please try this PR https://github.com/Microsoft/react-native-code-push/pull/654 and let me know if it helps?

[2017-01-19 12:56] sergey-akhalkov commented on #629
@iSimar - hi!
Please verify if you able to build `main.jsbundle` file using following command:
`react-native bundle --platform ios --dev false --entry-file index.ios.js --bundle-output ios/main.jsbundle`.
If so, could  you please provide me with content of `AppDelegate.m` file?

[2017-01-19 16:02] petromoldovan opened #675 "Is it possible to use own server instead of CodePush server?"
Guys, thank you for the awesome work!

quick question though: is there a way how i can avoid using CodePush server and use my own server and maintain the functionality?

[2017-01-19 16:16] prithsharma commented on #494
I don't think I found a neat solution to this problem.

But this is what I am following right now -
1. My debug builds(both in Android and iOS) are subscribed to CodePush's staging releases.
1. For testing whether a CodePush release would work as expected, I make the staging release and test it in the debug build(mostly in a simulator in my case).
1. After this, I promote the release to production

[2017-01-19 18:59] silhouettes commented on #675
Not at the moment, unfortunately :(

Closing this for now, but feel free to ask any additional questions!

[2017-01-19 18:59] #675 closed

[2017-01-19 21:10] petromoldovan commented on #675
@silhouettes thank you!!!

[2017-01-20 00:50] #662 closed

[2017-01-20 11:31] sergey-akhalkov commented on #614
@vonovak - hi! The fact, that JS bundle is still loaded via React Native packager (due to `jsCodeLocation` variable is configured to use React Native packager for each app restart in debug mode) after CodePush updates were installed, is confusing: there are two questions about testing CodePush updates in Debug mode: https://github.com/Microsoft/react-native-code-push/issues/672 and https://github.

[2017-01-20 12:24] sergey-akhalkov commented on #667
@goldylucks - hi! I suppose you are right, I've added https://github.com/Microsoft/react-native-code-push/issues/614#issuecomment-274051514 describing the same things...

I would be very grateful if you could update the docs, thank you!

[2017-01-20 15:55] jaggerwang opened #676 "Android app crash when using installMode IMMEDIATE, and ON_NEXT_RESTART working as expected."
* react-native-code-push version: pull #670
* react-native version: 0.40
* wix/react-native-navigation#pull/652/head
* iOS/Android/Windows version: Android 6.0.1
* Does this reproduce on a debug build or release build? only on release build
* Does this reproduce on a simulator, or only on a physical device? on device, simulator not test
* Repro steps and/or stack trace:

Call `codePush.sync` to do

[2017-01-22 10:42] goldylucks commented on #614
My android workflow ATM, (no codepush) is:
1. Develop and test locally (usually on emulator)
2. upload new apk to alpha, where I'm the only tester (and maybe some close users)
3. if all works, promoting alpha to beta (usually running open beta)
4. if all works, promoting to production

with codepush there should b minimal app version changes, so I think the workflow would b:
1. develop and test lo

[2017-01-23 03:54] 2ducanhpham commented on #662
Thanks @anhtuank7c

[2017-01-23 09:09] jaggerwang commented on #516
Still there!

![image](https://cloud.githubusercontent.com/assets/1255011/22197755/5a2d1812-e18e-11e6-98fc-13192434f679.png)

[code]

I'm using pull #670 , because my RN version is 0.40.0.

[2017-01-23 09:50] sergey-akhalkov commented on #614
@goldylucks, provided workflow looks good, but I've said above:

By default CodePush has `Staging` and `Production` deployments, and the new one could be added manually by executing `code-push deployment add <appName> <deploymentName>` command.
I think the issue is that current version of docs does not pay attention on the fact, that CodePush updates should not be tested in Debug mode due to React

[2017-01-23 14:53] sergey-akhalkov commented on #676
@jaggerwang - hi!
I've tried to reproduce the issue using react-native@0.40.0, but with no luck. Also I've noticed that you are using `wix/react-native-navigation#pull/652/head`. From [this article](https://github.com/wix/react-native-navigation/wiki/Installation---Android#important) we could see that this library supports React Native 0.37.0 only. So could you please try to test `IMMEDIATE` insta

[2017-01-24 14:08] ConnorJWilliams opened #679 "Circular dependency during Android build"
* react-native-code-push version: 1.16.1-beta (latest)
* react-native version: 0.37.0
* iOS/Android/Windows version: Android 5.1
* Gradle Version: 2.14.1
* Android Plugin Version: 2.2.3

Building Android via Gradle produces a Circular dependency error occurring since the integration of Code Push.

Error:

[code]
This is using the newest version @latest of the npm library. The steps indicated in ht

[2017-01-24 15:46] ConnorJWilliams commented on #679
Issue related to our gradle dependency structure in react.gradle. Will mark as resolved.

[2017-01-24 15:46] #679 closed

[2017-01-24 18:08] silhouettes commented on #679
Thanks for the update @ConnorJWilliams!

[2017-01-24 22:58] buptkang commented on #668
@chirag04 @stirman @JusticeLai @ezyone123
We've merged all of the required fixes and verified everything. react-native-code-push@1.17.0-beta has been published to npm with support for react-native@0.40.0. Thanks for your patience.

[2017-01-25 00:02] stirman commented on #668
Woot! Thx :)

[2017-01-25 01:09] IrvingAxelB commented on #583
I am also running into this error using "react-native-code-push": "^1.16.1-beta" and "react-native": "0.35.0"

[2017-01-25 09:58] burgalon commented on #582
@silhouettes I'm experiencing this exception when calling `codePush.appRestart()` manually, with RN 0.39.2 and react-native-code-push `1.17.0-beta`

[2017-01-26 05:24] mongolgamestudio commented on #674
Thanks for comment.
I've resolved by clearing cache and data after store update. On first run in MainApplication onCreate :

[code]

[2017-01-26 05:24] #674 closed

[2017-01-26 07:08] mvayngrib commented on #323
@lostintangent when does Code Push decide that an update was unsuccessful? For example, if I call sync() a minute after the app loads, is that too late?

[2017-01-26 12:26] sergey-akhalkov commented on #457
@joaosilva05 - hi!
Sorry for silence, do you still experiencing the issue? If so, could you please provide me with your versions of `react`, `react-native` and `react-native-code-push`?

[2017-01-26 15:31] sergey-akhalkov commented on #583
@IrvingAxelB - hi!
To avoid unexpected issues make sure you are using compatible version of `react-native` and `react-native-code-push` ([Supported React Native platforms](https://github.com/Microsoft/react-native-code-push#supported-react-native-platforms)).
I've also faced with this issue and fixed it by adding `React` to my `Podfile`:
[code]

[2017-01-26 17:06] sergey-akhalkov commented on #516
@jaggerwang - hi! I've got the same issue while using `react-native@0.40.0` and `react-native-code-push@1.17.0-beta`, so I've started investigation.

[2017-01-26 18:21] panarasi commented on #676
@jaggerwang Thanks for the issue. Wanted to ping you again to see if this is still an issue. Could this be an issue with react native navigation as mentioned in @sergey-akhalkov 's comment above ?

[2017-01-26 18:25] panarasi commented on #672
I just closed #673 since I am not sure we need to add this method to Code Push. I think a better way would be to update the documentation to specify that only release mode is used.

@sergey-akhalkov is creating a new bug to update the documentation and will update the bug number here. I think we should close this issue once we have the bug for adding documentation.

[2017-01-26 18:26] panarasi commented on #671
@patrickomeara I was wondering if this bug is fixed ? Please let us know if there is any way we could help.

[2017-01-26 18:26] panarasi commented on #668
Closing this issue since RN 0.40 is now supported.

[2017-01-26 18:26] #668 closed

[2017-01-26 18:29] panarasi commented on #667
I think we should close this since #614 already captures the issue.

@goldylucks If you think #614 does not cover your concern, please let us know and we can reopen the bug.

[2017-01-26 18:29] #667 closed

[2017-01-26 18:39] panarasi commented on #663
@emielvanliere Were you able to solve this problem ? As @sergey-akhalkov said, the logic to update the bundle currently lives in the [CodePush.js](https://github.com/Microsoft/react-native-code-push/blob/adf2f76db7a2a71cbb2d7813f50f433ed32e696f/CodePush.js) file. More specifically, the server side checks are actually happening in the [Acquisition SDK](https://github.com/Microsoft/code-push/blob/db

[2017-01-26 18:39] #663 closed

[2017-01-26 18:40] panarasi commented on #660
Closing this issue since the fix for this is already merged.

[2017-01-26 18:40] #660 closed

[2017-01-26 18:43] panarasi commented on #653
@JuanbingTeam Could you help us understand the use case better please ? Is your project a native project where you try to include React Native twice ? Is there a sample repo that you could share to help us understand this case better ?

[2017-01-26 18:46] panarasi commented on #647
@benjaminb10 Pinging you to see if this fixes the issue. I am closing this issue for now, but i you still have issues, please let us know and we will be glad to help out.

[2017-01-26 18:46] #647 closed

[2017-01-26 18:48] panarasi commented on #646
@vladimir-kotikov Can you create a new issue capturing the need to in the code-push repo and then close this issue please ?

[2017-01-26 18:49] panarasi commented on #645
@igrayson Pinging you to see if this issue was resolved. Closing this issue for now, but please re-open it if this is still an issue.

[2017-01-26 18:50] panarasi commented on #640
@uc-asa Sorry for the late response. I am checking in to see if this is still an issue for you? Were you able to get this fixed ? Since this issue seems specific to your case, I would suggest you ping us on Discord where we can chat and help you with a solution.

Closing this bug for now since this is pretty old. If you still have the issue, please ping us and we would be glad to help.

[2017-01-26 18:50] #640 closed

[2017-01-26 18:53] panarasi commented on #635
@liheyuan The code push bundles are updated in the [acquisition SDK](https://github.com/Microsoft/code-push/blob/master/sdk/script/acquisition-sdk.ts). This is a JavaScript file that runs only when React Native is running. If React Native's JSC VM is halted, this will also halt unfortunately.

I am not sure if there is a way around it. We are currently exploring the possibility of downloading the

[2017-01-26 18:54] panarasi commented on #635
@liheyuan I have added the request to support background threads to our backlog. Hence closing this issue, since the current capabilities do not support this scenario.

[2017-01-26 18:54] #635 closed

[2017-01-26 18:55] panarasi commented on #633
@triage Was wondering if this issue is fixed for you. Closing this issue since this is a little old. Please ping us if you are still having this issue and we would be happy to help.

[2017-01-26 18:55] #633 closed

[2017-01-26 18:56] panarasi commented on #626
@lisong Thanks for the input. We have added this idea as something we would explore for the next version of Code Push. I am closing this issue here since it has been copied to our backlog.

[2017-01-26 18:56] #626 closed

[2017-01-26 19:25] silhouettes commented on #582
HI @burgalon, that is a warning rather than an exception, and it seems to be benign. Basically, when the app restarts, there may be some messages left in the queue targeting the old React Native instance. These messages will be dropped, but that's okay because that's what we want (we're rebooting the app from scratch).

[2017-01-26 22:50] silhouettes commented on #323
@mvayngrib - `notifyAppReady()` (or `sync()`, which calls it internally), need to be called *at some point* in the first run of the update to mark it as successful. The second time the app is booted, it will check if the update was marked as successful. If not, it will be rolled back.

We recommend making one of these calls immediately in your root `componentDidMount()` (and in fact if you [wrap y

[2017-01-26 23:25] mvayngrib commented on #323
@silhouettes cool, that's more or less what I figured, but thanks for the in-depth answer!

[2017-01-26 23:36] jonrh commented on #516
@sergey-akhalkov Just to confirm or chime in. I'm new to CodePush but I have the same error running `react-native@0.40.0` and `react-native-code-push@1.17.0-beta`.

I was following the [Plugin Usage](https://github.com/Microsoft/react-native-code-push#plugin-usage) guide (awesome docs btw, good job!). Fetching a new bundle works on app restart but it doesn't work on app resume.

[code]

[code]

[2017-01-27 14:00] vladimir-kotikov commented on #646
@panarasi, done!

[2017-01-27 14:00] #646 closed

[2017-01-27 14:10] sergey-akhalkov opened #682 "[docs] CodePush updates should be tested in modes other than debug"
The fact, that JS bundle is still loaded via React Native packager (due to jsCodeLocation variable is configured to use React Native packager for each app restart in debug mode) after CodePush updates were installed, is confusing: there are two questions about testing CodePush updates in Debug mode: #672 and Microsoft/code-push#364.
I suppose documentation should be updated to specify that only re

[2017-01-27 14:11] sergey-akhalkov commented on #672
@panarasi, done! The issue number is #682

[2017-01-27 14:11] #672 closed

[2017-01-27 14:28] sergey-akhalkov commented on #614
So I've also created #682 ([docs] CodePush updates should be tested in Release mode only)

[2017-01-27 15:14] sergey-akhalkov commented on #516
@jaggerwang, I've found the place where the warning occurs: https://github.com/facebook/react-native/blob/master/React/Modules/RCTEventEmitter.m#L54
It happens when there are no event listeners registered for `CodePushDownloadProgress` event.
So to go it away you could just implement realization of `codePushDownloadDidProgress` method:
[code]
Please let me know if there are any issues like this on

[2017-01-27 15:23] vonovak commented on #682
I would rather say that only modes **other than debug** should be used with code push.

[This](https://github.com/Microsoft/react-native-code-push#android) paragraph, more specifically

[code]

should imo be updated, because it makes no sense to me to use code push in debug buildConfig. Rather I'd create a new buildConfig called `staging` and put this content into it.

[2017-01-27 15:31] vonovak commented on #614
@goldylucks release is what the app users are running, staging is what we use for testing internally. New features of the app are first code-pushified to staging where they can be tested. Once done, they are moved to production using `code push promote`

[2017-01-28 12:36] ohtangza commented on #111
As of today, better to try "--noDuplicateReleaseError"

[2017-01-30 04:43] patrickomeara commented on #671
@panarasi @max-mironov thanks for your help, I was bumping the version number in `Info.plist` and `build.gradle` to `0.3.1` which was changing the target version. I have left them at `0.3.0` now and updates are pushing out again.

[2017-01-30 04:43] #671 closed

[2017-01-30 13:27] MartinMobilize commented on #457
I have the same problem.
code-push version: 1.12.6 beta.
react-native version: 0.40 (also didn't work with 0.37 and 0.38).

I tried the RNPM  and also the manual guide but it doesn't work.

Here is my relevant code:

# import codePush from "react-native-code-push";

const store = configureStore();
registerScreens(store, Provider);

class App extends Component {
	constructor(props) {
		super(props)

[2017-01-30 13:29] MartinMobilize commented on #457
And on my android index.js I only create an instance of App component:

 */
import App from './js/app';

const app = new App();

[2017-01-31 12:04] emielvanliere commented on #663
Hi @panarasi - yes I was able to find a workaround. What I'm doing now is I start the react-native part of the app but don't display it yet. When booted, RN will check codepush for updates and when it's finished it will call back to the native app which will then display the RN view.

[2017-01-31 15:23] sergey-akhalkov commented on #606
@bennyguitar - do you still experiencing the issue? Please let me know if I could help you.

[2017-01-31 15:26] sergey-akhalkov commented on #584
Closing this for now, please feel free to reopen it if the issue still reproduces or if I could help you somehow.

[2017-01-31 15:26] #584 closed

[2017-01-31 15:28] sergey-akhalkov commented on #575
@mrkhan2, @rt2zz - is the issue still reproduces for you? Please let me know if I could help you.

[2017-01-31 15:34] sergey-akhalkov commented on #519
Seems to be fixed by #652, please feel free to reopen it if needed.

[2017-01-31 15:34] #519 closed

[2017-01-31 15:36] sergey-akhalkov commented on #518
Closing this for now, please feel free to reopen it if needed!

[2017-01-31 15:36] #518 closed

[2017-01-31 15:44] sergey-akhalkov commented on #439
I suppose the docs should be improved to pay attention on the fact, that CodePush updates should not be tested in Debug mode, so I've created #682
Closing this for now, please feel free to reopen it if needed.

[2017-01-31 15:44] #439 closed

[2017-01-31 17:06] mrkhan2 commented on #575
Problem was solved for me, the issue was due to a bad production key

On Tue, Jan 31, 2017 at 9:28 AM, Sergey Akhalkov <notifications@github.com>
wrote:

[2017-01-31 17:09] sergey-akhalkov commented on #575
@mrkhan2 - thank you for response, I close the issue for now, feel free to reopen it if needed.

[2017-01-31 17:09] #575 closed

[2017-01-31 18:12] silhouettes commented on #671
By the way, please note that when you perform releases, there are flags that allow you to set a range of versions to target, e.g. `>= 0.4.0 < 0.5.0`.

Just be aware of any binary compatibility issues if you do this though, and be aware that this package will be applied on top of any future app store updates in that range unless those updates are also published to CodePush!

[2017-02-01 09:17] sergey-akhalkov commented on #516
@jonrh,

let codePushOptions = { checkFrequency: codePush.CheckFrequency.ON_APP_RESUME };
MyApp = codePush(codePushOptions)(MyApp);

Hmm, I've tried this option and it works well for me. Could you please try our [demo app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp)? It prints CodePush statuses on the screen, so you could see if the option works. Let m

[2017-02-01 13:44] sergey-akhalkov commented on #676
Closing this for now, please feel free to reopen if needed.

[2017-02-01 13:44] #676 closed

[2017-02-01 16:11] bernatfortet commented on #426
@jm555jm @flavordaaave thanks for the tip!
It took me a couple minutes to figure out exactly how to do that, so for others:
1. Select your app `target`
2. Make sure you are in the `General` Tab
3. Scroll down until `Link Binary with Libraries`
4. Select `libCodePush`
5. Press `-` minus button at the bottom left
6. Press `+` plus button and search for `libCodePush`
👍

[2017-02-01 16:35] bernatfortet commented on #426
Actually after trying that I found that I was still with the Release scheme.
After changing it to staging, and after removing and re-adding the library it still doesn't work 😞
Same exact error.

[2017-02-01 23:20] panarasi commented on #653
@JuanbingTeam Wanted to ping you see if you have more information on this.

[2017-02-01 23:21] panarasi commented on #613
@brettpappas Was your question answered ? Closing the issue since there is no other action item. Please re-open the issue if you still have the question and we can help you.

[2017-02-01 23:21] #613 closed

[2017-02-01 23:24] panarasi commented on #577
@insaindesign I think this is a good point. However, if we change the name now, it would break existing apps. Is there a way you could ignore it in the flow type checking ?

[2017-02-01 23:25] panarasi commented on #574
@sergey-akhalkov I think we should investigate this issue.

[2017-02-01 23:26] panarasi commented on #573
@marcpechaitis Was this issue resolved ?

[2017-02-01 23:27] panarasi commented on #572
@vladimir-kotikov What would be the proposed fix here ?

[2017-02-01 23:29] panarasi commented on #556
Closing this issue, issue moved to service repo.

[2017-02-01 23:29] #556 closed

[2017-02-01 23:31] panarasi commented on #523
@sergey-akhalkov Related to https://github.com/Microsoft/react-native-code-push/issues/614 ?

If it is related, lets close this issue since we are working on the other issue.

[2017-02-01 23:32] panarasi commented on #503
This is likely to be fixed, since there have been a lot of changes in the header. Closing this issue. If you still have a bug, please reopen this and we can look at this.

[2017-02-01 23:32] #503 closed

[2017-02-01 23:38] panarasi commented on #489
@daniel-beard We are looking at moving all the download logic to native land to serve this use case. cc @sergey-akhalkov - If we have this issue capture else where, can you add it here ?

[2017-02-01 23:45] panarasi commented on #395
This information is actually a part of the native bundle and making Async calls would be the only way this can be accessed. We do not save this information in the JS bundle that is sent back.

Looks like the issue is solved for you, so closing this issue. Please re-open if you have questions

[2017-02-01 23:47] #393 closed

[2017-02-01 23:49] panarasi commented on #375
@sergey-akhalkov I think we should look at how this can be done.

[2017-02-01 23:52] panarasi commented on #366
@lostintangent Do you still have that prototype ? We are thinking of move all update logic to the native land - that would help with background updates. However, if you were able to solve it in a different way, I think we should look at that too.

[2017-02-01 23:56] panarasi commented on #383
@cameronbourke Do you still need this functionality ?

[2017-02-02 00:21] marcpechaitis commented on #573
I suppose it was?  I ended up just adding the deployment key to my plist (I stopped hiding it via react-native-config) and now it is working.

I will close the issue.

[2017-02-02 03:18] mikelambert opened #685 "Getting lots of 502s from client apps"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

The underlying react-native-code-push libraries seem to be getting 502s from the server, which are showing up in the console log (and then being reported to via TrackJS to the trackjs server):

In the last few weeks, 258 instances:
[code]

And 148 instances of:
[code]

Seems that there are
*

[2017-02-02 03:19] mikelambert commented on #685
Graph of errors over two weeks:
<img width="1653" alt="2017-02-02 12 17 09" src="https://cloud.githubusercontent.com/assets/7953259/22535959/c4b7773a-e941-11e6-8d54-983d43c765ef.png">

[2017-02-02 03:35] mikelambert commented on #685
Ahhh, a big clue. I get multiple client ids from the same IP addresses, and these IP addresses are of the form 66.249.69.242 and 66.249.69.246, which are based in Mountain View, CA.

My best guess is that this might be the Calypso AppCrawler, crawling my app. It's hard to find too much info out there, but I saw this triggering usage stats on my MixPanel dashboard as well. I *think* but am unsure t

[2017-02-02 03:36] silhouettes commented on #685
@mikelambert Thanks for the very detailed report! One of our vendors will look at this sometime over the next week or so. There are two possible explanations for the error as far as I can see:

- The 'Bad Gateway' originates between the client and our server, e.g. a network/proxy issue
- The 'Bad Gateway' originates from our server itself

They should be able to figure out which it is by looking a

[2017-02-02 03:37] silhouettes commented on #685
Ahh, nice observation! If they are all geographically in the same location then it definitely gives more credence to the idea that the 502's are coming from some kind of proxy.

[2017-02-02 06:46] #395 closed

[2017-02-02 09:17] Amurmurmur commented on #426
+1 Same error, with the header, when on Staging Scheme :(

[2017-02-02 18:31] panarasi commented on #573
@marcpechaitis Thanks. Closing this issue. Please re-open it if you still have a problem.

[2017-02-02 18:31] #573 closed

[2017-02-02 18:58] marcpechaitis commented on #573
@panarasi, but be advised this is not my issue originally...is @wafisher satisfied?

[2017-02-02 20:33] panarasi commented on #573
@wafisher Ping.

[2017-02-03 14:18] sergey-akhalkov commented on #457
@MartinMobilize, I've sent you Example app (via email) where I've resolved some integration issues. Most of them have place due to Example app using `react-native-navigation` module.

[2017-02-03 14:22] sergey-akhalkov commented on #523
Closing this, due to #614

[2017-02-03 14:22] #523 closed

[2017-02-03 16:22] wafisher commented on #573
This was resolved with the answer from @matrosov-nikita. Thanks!

[2017-02-04 14:47] Amurmurmur opened #688 "Staging build: 'CodePush/CodePush.h' file not found"
* react-native-code-push version: 1.17.0-beta
* react-native version: 0.41
* iOS/Android/Windows version: iOS 10.2
* Does this reproduce on a debug build or release build? Staging build
* Does this reproduce on a simulator, or only on a physical device? Doesnt even build the project
* Repro steps and/or stack trace:

Followed instructions exactly, for multi deployment ([https://github.com/Microsof

[2017-02-06 05:49] jameslcj opened #689 "why my codepush cli active and total always is 0"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

* react-native-code-push version:16.1-beta
* react-native version:0.37
* iOS/Android/Windows version:10.0
* Does this reproduce on a debug build or release build? release build
* Does this reproduce on a simulator, or only on a physical device? both
* Repro steps and/or stack trace:

I releas

[2017-02-06 09:18] jameslcj commented on #689
I'm sorry... I have known... because I forgot to invoke the `CodePush.notifyAppReady();` when I start  new version first time...
thank you!

[2017-02-06 09:45] sergey-akhalkov commented on #689
@jameslcj, got it, closing this for now, please feel free to reopen if needed!

[2017-02-06 09:45] #689 closed

[2017-02-06 09:52] sergey-akhalkov commented on #688
@Amurmurmur, I've got the same issue and resolved it like this:
![image](https://cloud.githubusercontent.com/assets/4928157/22642157/9955f3d8-ec6a-11e6-9b65-d66845994668.png)
So I've changed Staging `Build Products Path` value from `$(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)` to `$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)`
Could you please verify if it works for you? If so, we sho

[2017-02-06 09:57] Amurmurmur commented on #688
@sergey-akhalkov Yep that worked!! Thank you so much.
However I guess its just a workaround and the team has to fix it anyway, or add this in the documentation?!

Cheeers

[2017-02-06 10:18] sergey-akhalkov commented on #688
@Amurmurmur, thanks for the response. I've reproduced and fixed the issue in the same way without using CodePush. So initial react-native app (created by `react-native init myapp` command) also has this issue, we should probably investigate it to find more suitable solution or at least update the documentation.

[2017-02-06 12:34] sergey-akhalkov commented on #489
@panarasi, got it, will do.

[2017-02-06 19:34] rodrigopivi commented on #457
The problem here is that the JS file uses `module.exports = ...` and the typescript definition file expects a `exports.default`

https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L536
https://github.com/Microsoft/react-native-code-push/blob/master/typings/react-native-code-push.d.ts#L423

currently i'm having to use:

[code]
or
[code]

[2017-02-06 20:14] Fantasim opened #691 "Update Available problem"
Hi,

3 weeks ago I sent code-push the latest version of my app.
Today I prepare a new update, but whenever I run the simulator or test my application on device, this message appears every time, specifying that a new version is now available and does not take Account my changes, how can I fix the problem? (Knowing that for this update, I have to go through Itunes Connect and there will be no update

[2017-02-06 22:53] jr-k opened #692 "Release on all platforms with one command"
Hello,

I've a question about releasing process.  I developed an application with react-native for both ios and android and for now when I need to send an update I'm doing that:

`code-push release-react myApp android -d Production -m true --des "some improvements"`

Then when I type `code-push deployment ls myApp` I see "Label v10" with my comments and so on. But now I want to send an update for

[2017-02-07 08:40] max-mironov commented on #692
Closed as an exact duplicate of https://github.com/Microsoft/code-push/issues/386

[2017-02-07 08:40] #692 closed

[2017-02-07 11:35] sergey-akhalkov commented on #691
@Fantasim, do I understand correctly that you've received an update message which points to code-push deployment released 3 weeks ago? If so, this message probably means that the app does not have any installed updates. To check it you could try to call `CodePush.getUpdateMetadata(CodePush.UpdateState.RUNNING)` method. In my case it returns some metadata, which means that the app have successfully

[2017-02-07 13:01] sergey-akhalkov commented on #614
Closing this due to https://github.com/Microsoft/react-native-code-push/issues/682 and https://github.com/Microsoft/react-native-code-push/pull/694
Please feel free to reopen if needed.

[2017-02-07 13:01] #614 closed

[2017-02-07 13:04] sergey-akhalkov commented on #682
@vonovak, I've found another way we could add staging build variant - we have to use `releaseStaging` naming instead of `staging` as workaround. For more details please look at https://github.com/Microsoft/react-native-code-push/pull/694

[2017-02-07 15:32] sergey-akhalkov commented on #688
Closing this, please feel free to reopen if needed

[2017-02-07 15:32] #688 closed

[2017-02-07 23:57] almadsen commented on #688
I was still getting this, my work around for it was/is:

<img width="976" alt="skarmavbild 2017-02-08 kl 00 54 10" src="https://cloud.githubusercontent.com/assets/1423040/22717061/439fe270-ed99-11e6-85df-0102a6f0d9f7.png">

I first tried putting the search link in the target but that still got me a file not found, but in the project part it stoped giving me the error.

[2017-02-08 07:21] LiuC520 commented on #516
Me too，

[code]

[2017-02-08 08:38] sergey-akhalkov commented on #606
Closing this, please feel free to reopen.

[2017-02-08 08:38] #606 closed

[2017-02-08 08:56] sergey-akhalkov commented on #494
@prithsharma, could you please look at https://github.com/Microsoft/react-native-code-push#android?
I've updated the documentation so for now there is an additional buildType - `releaseStaging`, so you could store your staging deployment key there. `releaseStaging` buildType works exactly like `release` buildType and it uses offline js bundle instead of packager.
The same for iOS - https://github.

[2017-02-08 09:00] #682 closed

[2017-02-08 09:10] sergey-akhalkov commented on #516
@LiuC520, seems like it's the issue of another kind. I believe that the root of the problem is not in `Sending CodePushDownloadProgress with no listeners registered.` warning, but you could try to add `codePushDownloadDidProgress` event listener as I've described above and verify if it works.
In case the error still reproduces, could you please create separate issue and provide us additional info?

[2017-02-08 09:16] sergey-akhalkov commented on #457
@rodrigopivi, in case of using NavigationModule it is also important to properly export CodePush package in `MainApplication.java` file:
[code]
In case of wrong import we would have the situation when `NativeCodePush` variable is `undefined`:
[code]
https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L8

[2017-02-08 09:25] sergey-akhalkov commented on #426
@bernatfortet, could please look try to apply instructions from this PR https://github.com/Microsoft/react-native-code-push/pull/690 and let me know if it helps?

[2017-02-08 10:56] Amurmurmur commented on #688
@almadsen That didnt work for me :/ Only the solution suggested by @sergey-akhalkov did work. :/

[2017-02-08 11:10] LiuC520 opened #695 "Update is invalid?"
there is a new problem:

[CodePush] An unknown error occurred.
[CodePush] Update is invalid - A JS bundle file named "main.jsbundle" could not be found within the downloaded contents. Please ensure that your app is syncing with the correct deployment and that you are releasing your CodePush updates using the exact same JS bundle file name that was shipped with your app's binary.

[2017-02-08 11:13] LiuC520 commented on #516
Thank you for your suggestion.
I've add codePushDownloadDidProgress event listener,but there is a  new problem:
[](https://github.com/Microsoft/react-native-code-push/issues/695)

[2017-02-08 11:36] sergey-akhalkov commented on #695
@LiuC520, are  you using the same deployment key both for Android and iOS?
It feels like you've released an update for android using `code-push release-react myapp android` command and tried to install produced update for iOS, but there are different bundle names for iOS and Android:
*Android: "index.android.bundle"
*iOS: "main.jsbundle"
So could you please try to execute `code-push release-react

[2017-02-08 11:42] LiuC520 commented on #695
Thank you !
I use the command:

[2017-02-08 12:00] #695 closed

[2017-02-08 12:04] sergey-akhalkov commented on #516
Closing this for now, please feel free to reopen.

[2017-02-08 12:04] #516 closed

[2017-02-08 18:38] vedovato opened #696 ""auto roll-back" version after reopen app"
After modifying some features and stuff in our app we just released both new versions over the air and all goes ok. The app discover the update accordingly, then installs it and so restart the app.

Everything was ok until i realize that when i restart the app it kind of roll-back to the default store version (w/o our new updates). Any suggestion would be appreciated.

Obs: When it auto-roll-back,

[2017-02-08 19:06] silhouettes commented on #696
Hey @vedovato, is your root component wrapped? Like this: https://github.com/Microsoft/react-native-code-push#plugin-usage

[2017-02-08 21:24] Brian-Kaplan opened #697 "compile 'com.facebook.react:react-native:+' defaults to 0.21.0"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

* react-native-code-push version: N/A
* react-native version: 0.41.2
* iOS/Android/Windows version: Android 23
* Does this reproduce on a debug build or release build? N/A
* Does this reproduce on a simulator, or only on a physical device? N/A
* Repro steps and/or stack trace:

Following the

[2017-02-08 21:53] panarasi commented on #383
@cameronbourke Thanks for the info. In that case, let me close this issue for now, and copy this over to our backlog.

[2017-02-08 21:53] #383 closed

[2017-02-08 21:59] Brian-Kaplan commented on #697
I thought maybe the .gradle/cache was the issue here but it is not

[2017-02-09 08:40] #650 closed

[2017-02-09 08:44] #574 closed

[2017-02-09 14:59] Brian-Kaplan commented on #697
So the last released version in [Maven Repo](https://mvnrepository.com/artifact/com.facebook.react/react-native) is 0.20.1 so now understand what's going on here. For some reason this definition in projects build.gradle
[code]

is not finding the jar. I have double - triple checked this path and its correct...

[2017-02-09 15:35] Brian-Kaplan commented on #697
Wrong repo... my bad

[2017-02-09 15:35] #697 closed

[2017-02-10 07:55] cxy200927099 commented on #86
hi @lostintangent :
   I also get a unknown error, and my deployment key and my version number both are valid.
When i open the link: [https://codepush.azurewebsites.net/updateCheck?deploymentKey=pw_ho269Dv5tqs8XxjSm7bvv0YraEyNXGfLOM&appVersion=1.0.2&packageHash=&isCompanion=](url)
i got:
`{
    "updateInfo": {
        "downloadURL": "https://codepush.blob.core.windows.net/storagev2/EH-s83BXWNqcgPe

[2017-02-12 02:48] hawkrives commented on #577
@panarasi In my project, I have flow configured to ignore all .json files, which it does – it will error on other JSON files if I don't – but it still errors on the `CodePushHash.json`.

We discovered that adding `.*/CodePushHash.json`, with the leading `.*/`, will force flow to ignore the file and not error.

[2017-02-12 09:32] leonardgithub opened #698 "How to promote app version after code push"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

* react-native-code-push version: 1.16.1-beta
* react-native version: 0.39
* iOS/Android/Windows version:
* Does this reproduce on a debug build or release build?
* Does this reproduce on a simulator, or only on a physical device?
* Repro steps and/or stack trace:

(The more info the faster w

[2017-02-13 01:06] ivpusic commented on #396
@vanBrunneren any updates on this problem? are you again using code-push? how did you solve mentioned issue?

[2017-02-13 02:25] valetarton commented on #494
^^ @sergey-akhalkov found the solution in the recently updated documentation for Android worked like a charm.

Now just having issues with iOS app downloading update. But that's not your problem :)

[2017-02-13 02:33] ivpusic opened #699 "images not always rendering after code-push update"
* react-native-code-push version: v1.17.0-beta
* react-native version: 0.41.2

Hi, I am using code-push for application testing via testflight. Today I noticed that sometimes some images are not rendering. This is completely random => it happens once in a few minutes => image simply does not show (and after component rerender is triggered, image will show up). I was looking into my code, and could

[2017-02-13 08:10] max-mironov commented on #698
Hello @leonardgithub, do I get it right that you would like to bump app version via code-push release command? If so than unfortunately it is impossible to do via code-push release due to React Native plugin will sync your JS bundle file and any image assets only.
Also please note that you can specify target binary version for any release like so:
`code-push release-react MyApp-Android android --t

[2017-02-13 08:20] leonardgithub commented on #698
@max-mironov yes, you are right. I am lazy to release my app of new version to the app market stores, and I want code push help me promote the app version, which can save my time. Thanks

[2017-02-13 08:27] sergey-akhalkov commented on #494
@valetarton, please feel free to create new issue if you need any help.

[2017-02-13 08:37] vanBrunneren commented on #396
@ivpusic no at the moment we don't have the capacity to give code-push another shot. I hope we're getting this in the near future

[2017-02-13 14:08] sergey-akhalkov commented on #653
Closing this for now, please feel free to reopen if you have any questions.

[2017-02-13 14:08] #653 closed

[2017-02-13 14:13] sergey-akhalkov commented on #426
Closing this due to https://github.com/Microsoft/react-native-code-push/pull/690 has been merged and fixed similar issue https://github.com/Microsoft/react-native-code-push/issues/688, please feel free to reopen in case of any questions or issues.

[2017-02-13 14:13] #426 closed

[2017-02-13 18:59] vedovato commented on #696
Hey @silhouettes thanks for your reply. No, it isn't wrapper but it's "working".

Couple of questions:
- Why does it work without being wrapped?
- How do i wrap it in a wix-react-native-navigation project since it doesn't use regular class structure?

[2017-02-13 21:28] buptkang commented on #698
Hey @leonardgithub, based on your comment, we can further improve the tool to automatically promote the bump version if developers do not specify it.

[2017-02-13 22:12] silhouettes commented on #696
Hi @vedovato:

The wrapper just calls .sync(), but the difference is that it also calls [`notifyAppReady()`](https://github.com/Microsoft/react-native-code-push/blob/master/docs/api-js.md#codepushnotifyappready) in the root componentDidMount. If this function is not called in the first run of a CodePush update to 'rubber stamp' it as having launched successfully, the update will be rolled back the

[2017-02-14 00:57] Micjoyce commented on #699
react-native-code-push version: v1.17.0-beta
react-native version: 0.40.0
I have same problem at ios and android, my local html file and image  all can't load and rendering.

There is my build bundle command:

[code]

release new version to code push command:

[code]

<img width="215" alt="2017-02-14 8 53 31" src="https://cloud.githubusercontent.com/assets/4250838/22910164/1d872298-f293-11e6-8778-

[2017-02-14 09:47] freddy24 opened #701 "codePush undefined"
I add codePush into my project, do as the document says.
 index.android.js.
`import codePush from "react-native-code-push";`
[code]
When I run my project, Error come cross, `codePush` undefined,
I used React-Native 0.40.0
code push 1.12.6-beta

[2017-02-14 12:33] sergey-akhalkov commented on #701
@freddy24, could you please try to use `var codePush = require("react-native-code-push")` instead of `import...`? In case the issue is still reproduces please share me with full content of `MainApplication.java` and `index.android.js.` files - It feels like your app using some additional libraries such as `NavigationModule` or another.

[2017-02-14 13:46] freddy24 commented on #701
here is my full content of index.android.js and MainApplication.java
[code]
MainApplication.java
[code]

[2017-02-14 14:52] sergey-akhalkov commented on #701
@freddy24, I could see two `getPackages()` methods in your `MainApplication.java`, so it seems like native part of CodePush was not installed properly.
Please try inject new instance of CodePush in the first `getPackages()` method and let me know if any changes:
[code]

[2017-02-14 15:31] sergey-akhalkov commented on #691
@Fantasim, are you still experiencing the issue? Please let me know if I could help you.

[2017-02-14 16:30] chirag04 opened #703 "breaking change on rn master breaks code push"
latest version of code push is not compatible with master branch of RN as of today.

Refer:
https://github.com/facebook/react-native/commit/ea6845ca2275e0420761a087e6c8844ebaae343e

Fix is simple:
change import to `import com.facebook.react.modules.core.ReactChoreographer;` in Codepush.java and CodepushNativemodule.java.
add missing import `import com.facebook.react.uimanager.ViewManager;` in code

[2017-02-15 00:28] freddy24 commented on #701
@sergey-akhalkov thank you for your reply.
I change the code as below:
[code]
still have this problem.

[2017-02-15 01:04] freddy24 commented on #701
I got this message:[CodePush] The CodePush module doesn't appear to be properly installed. Please double-check that everything is setup correctly.

I install code push in my project with Android - Manual:
my module named "passenger",not "app"
[code]
[code]
[code]
Is there any problem with my install steps?

[2017-02-15 10:19] kodemi commented on #682
Hi! "Multi-Deployment Testing" section for Android has this line for MainApplication.java:
`new CodePush(BuildConfig.CODEPUSH_KEY, MainApplication.this, BuildConfig.DEBUG)`. But if we not configure CodePush in debug mode this line cause error when `react-native run-android`: `cannot find symbol ... variable CODEPUSH_KEY`. So, how to prevent CodePush to run in debug mode?

[2017-02-15 12:53] vedovato commented on #696
Well, i think it didn't @silhouettes. Could you take a look at my code? I think everything is ok and no errors/warnings are shown: Btw, it is working fine in Android and just iOS roll-back as mentioned.

'use strict'

import React, { Component } from 'react'
import { Text, View, ListView, StyleSheet, RefreshControl } from 'react-native'
import Meteor from 'react-native-meteor'
import MergeObj from

[2017-02-15 14:00] sergey-akhalkov commented on #682
@kodemi, as workaround you could add
[code]
line [here](https://github.com/Microsoft/react-native-code-push/pull/694/files#diff-04c6e90faac2675aa89e2176d2eec7d8R623). It will prevent CodePush from installing updates due to empty deployment key.
Please let me know if you have any questions or see any issues.

[2017-02-15 14:58] sergey-akhalkov commented on #701
It happens due to native-side of CodePush was not installed properly. For now I could not see anything wrong with CodePush installation, so could you please provide me with minimal version of the app where the issue reproduces? You also could compare your `MainApplication.java` file with [the same file](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePushDemoApp/androi

[2017-02-15 21:02] moaxaca commented on #701
Had the same issue in IOS. After doing `react-native link react-native-code-push ` had to clean then rebuild. It appears to be an install issue.

[2017-02-15 22:03] silentcoast commented on #524
Running into the same issue. Update runs and it downloads the new files. Restarts the app and everything is fine. But when I close the app and re-open it gives the error about it being rolled back and shows the original files. This is happening on both Android and iOS

[2017-02-16 00:25] silhouettes commented on #524
This is similar to #696 but I will address it here in case the root cause is different.

@rt2zz, @silentcoast, are you wrapping your root component like this: https://github.com/Microsoft/react-native-code-push#plugin-usage?

To clarify - CodePush has a [`notifyAppReady()`](https://github.com/Microsoft/react-native-code-push/blob/master/docs/api-js.md#codepushnotifyappready) function that needs to

[2017-02-16 02:34] silentcoast commented on #524
@silhouettes I completely overlooked that section in the documentation. I added it and worked as expected.

[2017-02-16 05:31] dbof10 opened #705 "Breaking changes break everything"
In previous version of CodePush, I used `TikiHome = codePush(optionsProd)(TikiHome);`. After upgrading to `0.17`, codePush does not work anymore. Log message `Object is not a function (evaluating '(0,_reactNativeCodePush2.default)(optionsProd))')`. I noticed that `codePushify` function was removed!!! ĐM. Thanks :)

[2017-02-16 06:12] freddy24 commented on #701
@sergey-akhalkov @moaxaca thank you very much!
I find my problem. my activity is not extends ReactActivity,
[code]
`.addPackage(new CodePush("my key", getApplication(), BuildConfig.DEBUG))//I didnot add this code before. `
problem fixed! thank you again.

[2017-02-16 07:16] sergey-akhalkov commented on #701
@freddy24, got it, thanks for the response.
@moaxaca, please let me know if you still experiencing the issue or if you have any questions.

[2017-02-16 07:47] sergey-akhalkov commented on #705
@dbof10, please try to import CodePush like this `var CodePush = require("react-native-code-push")` and let me know if any changes.

[2017-02-16 10:28] #705 closed

[2017-02-16 12:47] sergey-akhalkov commented on #699
@Micjoyce, I could see that your bundle command does not contain `--assets-dest` parameter, it may cause the issue - from the `react-native-code-push` docs I've found:

If your app is using the React Native assets system to load images (i.e. the require(./foo.png) syntax), then you MUST release your assets along with your JS bundle to CodePush. Follow these instructions to see how to do this.

You

[2017-02-16 12:53] sergey-akhalkov commented on #699
@ivpusic, We've probable have not faced with this random issue before, so could you please provide me with the way you are loading images (i.e. the require(./foo.png) syntax or smth else) and releasing CodePush updates (vanilla `release` or `release-react` commands)? Also it would be very helpful if you could provide me with minimal version of the app where the issue reproduces.

[2017-02-16 14:00] sergey-akhalkov commented on #703
@chirag04, got it, thanks!

[2017-02-16 14:04] sergey-akhalkov commented on #494
@prithsharma, just a friendly ping, please let me know if docs update helps or if you have any questions.

[2017-02-17 07:13] sergey-akhalkov commented on #375
@panarasi, I've investigated the ways we could implement this and I suppose we could use the same approach and just implement another one property (called `customMetadata` as example) that users would be able to use instead of `description`.

I also think it would be convenient to implement 2 ways users would be able to specify `customMetadata` - as plain value or as a path to some `.json` file li

[2017-02-17 08:03] sergey-akhalkov commented on #701
Closing this for now, please feel free to reopen if needed.

[2017-02-17 08:03] #701 closed

[2017-02-18 20:14] Fantasim commented on #691
Yes sorry for late answer, i've fixed problem with you help, thanks

[2017-02-18 20:14] #691 closed

[2017-02-19 02:24] passabilities opened #706 "Check for app exist before uploading build"
* react-native-code-push version: 1.12.6-beta

Not really a big deal and not sure if this has been addressed already since this isnt the newest version im using (Working with react native v 0.24.1) but when pushing a new build it waits till the end of the `release` command to say I typed the wrong name of the app.

<img width="1507" alt="screen shot 2017-02-18 at 21 17 57" src="https://cloud.githu

[2017-02-19 20:19] MrBr opened #707 "[Android] - CodePush mAssetsBundleFileName can not be configured"
I have scenario where CodePush is not used for loading bundle until new bundle from CodePush is actually downloaded, therefore the current Android implementation leaves `mAssetsBundleFileName` with `null` value which prevents proper CodePush synchronization. It fails when checking if there is proper entry file in the bundle because it is looking for the `null`.

I am interested is there any reason

[2017-02-20 02:46] SamMatthewsIsACommonName commented on #688
Hi @sergey-akhalkov  I'm having this issue but I don't think I have any 'multi deployment testing' setup, it's just when I go to run the release scheme. i've tried all solutions i.e manually importing codepush.h, adding the library from scratch etc. I'm running react native 0.40.0 and react-native-code-push 1.16.1-beta. The weird thing was it was working fine and I'd created a build and submitted

[2017-02-20 08:02] eladmoshe opened #708 "How is CodePush secured?"
I was not able to find any resources about the security model of CodePush. I am especially referring to the prevention of application code hijacking; i.e. pushing malicious code to users.
I think this is important as this is a prerequisite for enterprise applications.

[2017-02-20 12:37] sergey-akhalkov commented on #706
@passabilities, thanks for the feedback. I've added PR implements this functionality [here](https://github.com/Microsoft/code-push/pull/399). In case you want to test it you could use [my code-push fork](https://github.com/sergey-akhalkov/code-push/tree/issue706).

[2017-02-20 15:39] tlvenn opened #709 "Update Android SDK version to 23.0.3"
The app Gradle file currently references Android SDK 23.0.1 while it should use the latest 23.0.X which is 23.0.3

[2017-02-20 17:52] ggordan opened #711 "Update is invalid when built on CI server"
Hi all,

I'm running into a strange issue. doing a code-push deploy from my computer works fine (on a clean repo) and the release is successfully installed on the device, however when attempting to do the exact same steps on our CI server, everything appears to work fine, however attempting to install the release on the device results in the following:

[code]

Are there any additional dependencie

[2017-02-21 14:21] jaisonveneri commented on #509
I'd like to know too. You could share @jerson.

[2017-02-21 17:14] jerson commented on #509
check this repo, was an old error but now is solved

https://github.com/jerson/realm-example-error

[2017-02-21 17:34] jaisonveneri commented on #509
Thanks @jerson

[2017-02-21 22:21] gabergg opened #713 "NullReferenceException due to missing ProcessorId key"
* react-native-code-push version: master
* react-native version: 0.42.0-rc.2
* iOS/Android/Windows version: Windows 10
* Does this reproduce on a debug build or release build? Debug
* Does this reproduce on a simulator, or only on a physical device? Windows 10 Desktop VM
* Repro steps and/or stack trace: Crashes on startup

<img width="1002" alt="screen shot 2017-02-21 at 2 14 31 pm" src="https://

[2017-02-22 02:06] #709 closed

[2017-02-22 05:12] byk04712 opened #714 "ld: 5 duplicate symbols for architecture x86_64"
* react-native-code-push version:1.17.0-beta
* react-native version:0.41.2
* Xcode:8.2
* Does this reproduce on a debug build or release build?
* Does this reproduce on a simulator, or only on a physical device? run on simulator
* Repro steps and/or stack trace:

I integration react-native-code-push to my  cocoapods project. When i added `CodePush.xcodeproj` and `libCodePush.a`. I got this error.

[2017-02-22 07:20] byk04712 commented on #714
I solved this problem. react-native-code-push has SSZipArchive library.  so I removed `pod 'SSZipArchive', '~>1.2'` from Podfile. and added `$(SRCROOT)/../node_modules/react-native-code-push/ios/CodePush/SSZipArchive` (set to recuirsive)  to `Build Setting -> Header Search Paths`. them clear & build. It's works

[2017-02-22 07:21] sergey-akhalkov commented on #714
@byk04712, thanks for response. Closing this for now, please feel free to reopen if needed.

[2017-02-22 07:21] #714 closed

[2017-02-22 08:48] max-mironov commented on #661
Closed it for now as a pull request with fixes has been already merged.

[2017-02-22 08:48] #661 closed

[2017-02-22 13:40] sergey-akhalkov commented on #494
Closing this, please feel free to reopen if needed.

[2017-02-22 13:40] #494 closed

[2017-02-22 13:41] sergey-akhalkov commented on #699
@Micjoyce, @ivpusic, just a friendly ping.

[2017-02-22 13:51] ivpusic commented on #699
@sergey-akhalkov sorry for delay.

[code]

release commands
[code]

I can confirm that the same is happening also for RN 0.42-RC3 + RNCP v1.17.0-beta

[2017-02-22 13:54] sergey-akhalkov commented on #708
@eladmoshe, thanks for the question. The source code uploaded to the Code Push Servers can only be accessed using your access key. Once uploaded, only meta data about the source code can change, not the code itself. We are also working on adding the ability to sign the code and verify its validity, but this is something for the future.
Also, all communications are via HTTPS protocol. CodePush CLI

[2017-02-23 08:31] dannyyaou opened #715 "HELP!!!!!! Accidentally remove my deployment!!!"
* react-native version: 40
* iOS/Android/Windows version: ios android

Dear ALL:

Thanks a lot for your CodePush Project! That helps a lot!

But today there's a issue happened on IOS! I can't get my app updated!
And my app will stuck on the update page.
That's a big problem!
So I try to remove new deployment as soon as posible

THEN I REMOVED MY "PRODUCTION" DEPLOYMENT ACCIDENTALLY!!!

That means

[2017-02-23 09:11] eladmoshe commented on #708
Thank you @sergey-akhalkov!
Having the ability to sign the code and have the client SDK decline any unsigned update is crucial IMHO for this type of service. I believe that otherwise any enterprise security audit will automatically fail.

[2017-02-23 09:11] #708 closed

[2017-02-23 09:12] silhouettes commented on #715
@dannyyaou: We can look into this for you, but please note that we won't be able to do this again. Please email codepush@microsoft.com using the email address that your account is registered with (we have received some emails, but they are not from the email address originally associated with your GitHub account). In the email, please include the deploymentKey you'd like to change, and the origina

[2017-02-23 09:12] #715 closed

[2017-02-23 09:18] dannyyaou commented on #715
Dear Codepush Team and Richard Hua:

Thanks a lot for helping me out, I promise this wont happened again!

My original Deployment-Key is: A7Nju32c9lfHYQu6pOtMcjUXvGg_VyBlucLtBQg
My new Deployment-Key is: H5huJ0l6op17ytdGYHzystfl-7yrVyBlucLtBQg

Please make my new Deployment-Key back to my original Deployment-Key,
Thanks you very much!!!

Sincerely Yours
Danny Yao

2017-02-23 17:12 GMT+08:00 Richar

[2017-02-23 09:19] silhouettes commented on #715
Please don't post your deployment key publicly! I have deleted your message. In the meantime, can you please email us using the email that was originally associated with your GitHub account? I will verify that you own the key while you do that.

[2017-02-23 10:38] dannyyaou opened #716 "Can't download new bundle"
* react-native-code-push version: 1.17.0-beta
* react-native version: 0.40
* iOS/Android/Windows version: iOS

Today When I release an update using codepush, My IOS end user will get a syncStatus 7, and try to start downloading new bundle, but there's nothing received, and my app has a view to tell user that the app is updating, and the size of the view is as big as the whole screen, so that make

[2017-02-23 10:48] silhouettes commented on #716
Hi @dannyyaou, do you have any code to hide the page? Here are all of the possible SyncStatuses: https://github.com/Microsoft/react-native-code-push/blob/bb04535fbef4cb580da4c29ae628452cc0774fc8/CodePush.js#L496/

[2017-02-23 10:50] silhouettes commented on #716
Also, which version of `react-native-code-push` did you upgrade from originally?

[2017-02-23 11:01] dannyyaou commented on #716
it seems to be ^1.14.6-beta

[2017-02-23 13:27] cosmith opened #717 "Android update rolling back"
Hi,
We recently deployed CodePush in our app. Everything is going fine on iOS but the Android version doesn't update. Looking at the logs on one of our devices we found the `An update is available, but it is being ignored due to having been previously rolled back.` message.

* react-native-code-push version: `1.16.1-beta`
* react-native version: `~0.38.0`
* iOS/Android/Windows version:
* Does this

[2017-02-23 13:47] max-mironov commented on #717
Hi @cosmith, do you have separate apps for iOS and Android with different deployment keys? If not this may be the root cause of this issues. Please let us know.

[2017-02-23 13:51] max-mironov commented on #715
@silhouettes sure, we'll handle this

[2017-02-23 13:53] cosmith commented on #717
Hi, we have the same deployment key on both apps.

We managed to find the actual error by reinstalling the app from the store on the device where it wasn't working:

[code]

[2017-02-23 13:57] max-mironov commented on #717
Thank you for your reply @cosmith!
Anyway as stated here https://microsoft.github.io/code-push/docs/cli.html#link-3
"NOTE: Using the same app for iOS and Android may cause installation exceptions because the CodePush update package produced for iOS will have different content from the update produced for Android."

So it would be better to create separate apps. Please let us know if you need furth

[2017-02-23 13:57] cosmith commented on #717
Ok I think we figured it out: since we deploy on the same key, and we deployed iOS right after Android in both cases, it worked for 3 minutes (where we tested it on our devices) and then stopped working.

[2017-02-23 14:01] max-mironov commented on #717
Correct, please let us know if deploying to separate platforms resolve the issue.

[2017-02-23 14:05] cosmith commented on #717
@max-mironov thanks! I think this should be a lot more visible in the docs, not buried in a note like it is right now. Maybe change the message to:

WARNING: Using the same app for iOS and Android **will** cause installation exceptions because the CodePush update package produced for iOS will have different content from the update produced for Android.

[2017-02-23 14:11] max-mironov commented on #717
@cosmith that make sense, thank you for feedback. Will try to update docs to make things more evident.
If you don't mind I'm closing the issue for now, feel free to reopen or create a new one in case of any questions.

[2017-02-23 14:11] #717 closed

[2017-02-23 14:49] cosmith commented on #717
Sure, thanks for your help!

[2017-02-23 15:00] amourya-systango opened #718 "Even after complete all setup requirement npm test giving error"
console.log node_modules/react-native-code-push/logging.js:3
      [CodePush] The CodePush module doesn't appear to be properly installed. Please double-check that everything is setup correctly.

[2017-02-23 17:11] dannyyaou commented on #716
Its seems like the version that can't get the next version is the first version with react-native-code-push@1.17.0-beta...
Hmm This line seems confused... Can you understand me lol

[2017-02-23 17:18] dannyyaou commented on #716
Maybe it's related to this commit?<br/>
[Resolve CodePush.h for new iOS apps created with RN 0.40 (#665)](https://github.com/Microsoft/react-native-code-push/commit/90f0bb81d14bad6e868db90c285eb11087dec78c)
<br/>
change of scripts/postlink/ios/postlink.js<br/>
`var codePushHeaderImportStatement = `#import "CodePush.h"`;`
became
`var codePushHeaderImportStatement = `#import <CodePush/CodePush.h>`;

[2017-02-23 17:53] dannyyaou commented on #716
But in the simulator. It still works like a charm

[2017-02-23 19:48] silhouettes commented on #716
@dannyyaou, a few more questions:

1. As mentioned before, are you handling the other `SyncStatuses` and hiding the view when you get a bad one? https://github.com/Microsoft/react-native-code-push/blob/bb04535fbef4cb580da4c29ae628452cc0774fc8/CodePush.js#L496/
2. To confirm, this is happening on real devices, but not the simulator? Can you tell me the iOS version that is running on the real device

[2017-02-23 21:08] ssomnoremac opened #719 "Tracking Codepush updates per version"
v1.16.0+RN37* iOS/10.2.1
-------------------------

I'm having difficulty managing version changes in the app with codepush updates. I have two versions of my iOS app, 1.4.1 and 1.4.2.  It might be worth mentioning in the docs btw that codepush looks at the info.plist for this information when committing an update. I assumed that codepush was only dependent on the `src` folder of my app-- and that

[2017-02-23 21:27] silhouettes commented on #719
Yes - the way we resolve updates is that we look for the latest CodePush release for which its appVersion range satisfies the version in your Info.plist. So, it is possible to support multiple app versions in the same deployment. Does this make sense to you, and do you have any further questions?

With the fact that the version is read from your Info.plist - that is a good point, and we will consi

[2017-02-23 21:36] ssomnoremac commented on #719
Thanks. The cli docs are so good! These docs are great too 😀  That answers all my questions yes, and I know what to do going forward as well. It might be enough just to show examples that target version binaries using something like `-t >1.0.0`. Something like that would have saved me a lot of time. Great work though -- such a sold product!

[2017-02-23 21:37] #719 closed

[2017-02-23 21:41] silhouettes commented on #719
No worries, and glad to hear :)

@sergey-akhalkov @max-mironov - I remember we had another issue asking to clarify the behavior for appVersion ranges that target pre-releases. Could we also address this issue at the same time when we are making those doc changes?

[2017-02-24 00:21] dannyyaou commented on #716
@silhouettes
1. Nope, Just handling the situation that SyncStatus is 7 with opening that page I mentioned above, and there's no button to hide that page.
2. its happening on many ios device including mine, and the version of my device is 10.2.1.
3. Since debugging with released version app is impossible ( is that true? ), the only thing I know is that no download progress was being reported, and I

[2017-02-24 00:47] dannyyaou commented on #716
I tried to recreate the problem today with simulator and Staging development key
and I got this error log

console.warn @ YellowBox.js:69
(anonymous) @ debuggerWorker.js:25
(anonymous) @ debuggerWorker.js:53
logging.js:3 [CodePush] this._nativeModule.addListener is not a function

[2017-02-24 01:06] dannyyaou commented on #716
Maybe its related to change on package-mixins.js
which this line of code:
downloadProgressSubscription = DeviceEventEmitter.addListener(...
had changed to be
downloadProgressSubscription = codePushEventEmitter.addListener(...

[2017-02-24 01:11] silhouettes commented on #716
@dannyyaou I will follow up on your other comments later, but are you saying you're not hiding the screen if the app is up-to-date or if there was an error? Surely you need to handle the `UP_TO_DATE`, `UPDATE_IGNORED`, and `UNKNOWN_ERROR` statuses if you don't want the screen to show forever?

[2017-02-24 01:13] dannyyaou commented on #716
Yap, That's a mistake that I didn't handling those state.

[2017-02-24 22:46] jamealg opened #720 "iOS App Updates even though binary version has been incremented"
I released an app with a binary version of 1.0.3 and later released a mandatory update over the air with the same binary version. That all worked fine. Later I made some updates and then updated the binary version to 1.0.6. I then re-released the app expecting it to ignore the over the air update (because it's binary version is 1.0.6 and the code push update was for 1.0.3) however it updates anywa

[2017-02-25 00:02] JakeRawr opened #721 "White/Blank Screen after code push installed"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

* react-native-code-push version: 1.16.1-beta
* react-native version: 0.40.0
* iOS/Android/Windows version: Android all version
* Does this reproduce on a debug build or release build? Both
* Does this reproduce on a simulator, or only on a physical device? Both
* Repro steps and/or stack tra

[2017-02-25 02:40] silhouettes commented on #720
@jamealg Are you absolutely certain that the iOS version you published didn't target `1.0.6`? Could you check the output of `code-push deployment history <appName> <deploymentName>`?

[2017-02-25 02:42] silhouettes commented on #716
@sergey-akhalkov @max-mironov - Could one of you look at this when you come back on Monday?

[2017-02-25 09:05] mike623 opened #722 "The request timed out."
* react-native-code-push version: ^1.17.0-beta
* react-native version: ^0.41.2
* iOS/Android/Windows version: iOS 9.3
* Does this reproduce on a debug build or release build: no
* Does this reproduce on a simulator, or only on a physical device: both
* Repro steps and/or stack trace:

<img width="756" alt="screen shot 2017-02-25 at 4 58 19 pm" src="https://cloud.githubusercontent.com/assets/140082

[2017-02-27 08:47] max-mironov commented on #718
Hi @amourya-systango, could you please clarify which platform are you in?
If you are on Android do you setup it as it is described in the guidelines? Is your MainApplication class extended by Application class?

[2017-02-27 09:04] max-mironov commented on #722
Hello @mike623, thank you for filling the issue.
As for the second question - by default code push prohibit to release packages with identical contents, you can override this behavior if needed as it is described here - https://github.com/Microsoft/code-push/tree/master/cli#no-duplicate-release-error-parameter.

For the issue with request timeout can you please help us and answer some questions to

[2017-02-27 09:12] amourya-systango commented on #718
Did your library tested with Jest?

On Mon, Feb 27, 2017 at 2:17 PM, max-mironov <notifications@github.com>
wrote:

[2017-02-27 09:46] sergey-akhalkov commented on #706
Closing this due to #399 has been merged.

[2017-02-27 09:46] #706 closed

[2017-02-27 09:53] sergey-akhalkov commented on #696
@vedovato, do you still experiencing the issue? Please let me know if you see any issues.

[2017-02-27 10:04] max-mironov commented on #718
For react-native-code-push plugin mocha test framework is used.
Please see https://github.com/Microsoft/react-native-code-push/blob/master/code-push-plugin-testing-framework/package.json#L20 for reference.

[2017-02-27 11:50] max-mironov commented on #716
Hi @dannyyaou, is it correct that before updating code-push plugin to the latest version everything works as expected?
Also this is not absolutely clear for me:

Have you tried to remove code-push plugin completely from the app and then reinstall the latest version again?

[2017-02-27 11:55] douglasjunior commented on #644
Hi, I'm using `react-native 0.41.2`, `react-native-cli 2.0.1` with `Android 6.0` (simulator) , and I'm having the same problem with `fetch`.

Initially `fetch` works fine, but after press `R+R` to realod application, `fetch` dont works anymore with the message: `undefined is not a function (evaluating 'fetch ...`

Any suggestions?

[2017-02-27 12:16] douglasjunior commented on #644
I get a solution.

The problem happens because the function that call `fetch` has been called inside a `AsyncStorage` promise. It must be some context problem.

So, I just changed my workflow and `fetch` works fine.

[2017-02-27 15:29] octohedron opened #723 "code-push release-react myapp android it shows an update on iOS and it breaks it (flags it as broken on iOS)"
Issuing `code-push release-react myapp android` shows an update on iOS and it breaks it (flags it as broken on iOS) so new app installs won't get the latest version because it's flagged as broken.

I guess this could be solved by having two different apps instead of one, for each platform, but the docs don't say that.

Same thing happens when doing `code-push release-react myapp ios -b main.jsbund

[2017-02-27 15:34] #723 closed

[2017-02-27 15:39] mmoutenot commented on #629
@sergey-akhalkov I am running into the same problem, perhaps I can shed some light:

[code]

The `CodePushDeploymentKey` is definitely in my Info.plist. I have CodePush functioning properly in another project, but I'm still having trouble diffing to figure out what is going wrong.

The `moduleName` is the exact same as my AppRegistry's registered component.

[2017-02-27 22:11] silhouettes commented on #723
@octohedron - Thanks for the issue, and apologies for the confusion! We've already tried to mention the need for an app for each platform in the docs wherever we could, but of course there still might be gaps. Could you be more specific about where we should add this clarification?

@max-mironov - When he replies, could you add that clarification there?

[2017-02-27 23:53] rayvafa opened #724 "CodePush doesn't build with latest android SDK, version 25"
The build fails with following error massage:
[code]

* react-native-code-push version: `1.17.0`
* react-native version: `0.41.2`
* Android version: `25`
* Does this reproduce on a debug build or release build? `both`
* Does this reproduce on a simulator, or only on a physical device? `both`
* Repro steps and/or stack trace: `just trying to compile`

[2017-02-28 01:48] #724 closed

[2017-02-28 06:19] qinghantang opened #726 "checkForUpdate 方法返回 {line:184,column:'4004',sourceURL:'index.android.bundle'}"
这个错是怎么回事啊

[2017-02-28 07:49] zslucky opened #727 "Version issue"
Steps:
1. Run `npm install --save react-native-code-push@latest`
2. Add `pod 'CodePush', :path => '../node_modules/react-native-code-push'` to Podfile
3. Run `pod install`

Got:
`[!] Invalid `CodePush.podspec` file: Malformed version number string v1.17.1.`

See code in `CodePush.podspec`:
`package['version'].sub('-beta', '')` will return `v1.17.1`.

I manually use 1.17.1 instead of it, then it ca

[2017-02-28 12:05] sergey-akhalkov commented on #727
@zslucky, I've tried to reproduce the issue using provided repro steps but with no luck.
As for me I have following after executing `react-native init myapp` and `npm install --save react-native-code-push@latest` commands:
[code]
Could you please look at your version of `react-native-code-push` in `package.json` file in `dependencies` list? It should be the same as for me - `^1.17.1-beta`

[2017-02-28 12:28] max-mironov commented on #726
@qinghantang - hi, if possible could you please rephrase the problem in English and try to provide us with more info like it is described [here](https://github.com/Microsoft/react-native-code-push/blob/master/.github/ISSUE_TEMPLATE.md)

[2017-02-28 12:40] sergey-akhalkov commented on #629
@mmoutenot, do I understand that correct that you have `[ios] main.jsbundle is not found` error?
If so,  could you please explain what command(s) you are using for releasing CodePush updates for iOS?
Also it would be very helpful if you could provide me with `react-native-code-push` version, `react-native` version, repro steps and/or stack trace.

[2017-02-28 13:10] L-Jovi opened #728 "cannot check the correct version when I apply multi test environment"
hi, thanks for your smart project, I encounter some strange issue when I build multi test environment.

* react-native-code-push: "^1.16.0-beta"
* react-native version: "0.37.0"
* iOS/Android/Windows version: iOS 10

---

I have 2 test env, Staging and Production,
our inner developers could test the Staging env by click the hidden button 6 times,
and outer user could receive Production when they o

[2017-02-28 13:34] sergey-akhalkov commented on #721
@JakeRawr, seems like you've faced with the one of [common issues](https://github.com/Microsoft/react-native-code-push#debugging--troubleshooting):

If your app is using the React Native assets system to load images (i.e. the require(./foo.png) syntax), then you MUST release your assets along with your JS bundle to CodePush.

Please look at the [list of supported components](https://github.com/Mic

[2017-02-28 14:30] sergey-akhalkov commented on #728
Hi @L-Jovi, thank you for the question.
Could you please confirm if you are using `info.plist` file to store production deployment key by default and using `codePush.sync({ deploymentKey: STAGING_KEY });` code to override default value by clicking the hidden button 6 times?
If so, please note that the deployment key specified via `codePush.sync({ deploymentKey: STAGING_KEY });` does not persist be

[2017-02-28 14:57] sergey-akhalkov commented on #711
@ggordan, sorry for slow response.
Do you still experiencing the issue? If so, could you please put `console.log(downloadUrl)` line before [this line](https://github.com/Microsoft/react-native-code-push/blob/master/package-mixins.js#L12) or just debug it? Use this url for downloading via browser and unzipping update package contents , so we would able to determine if the problem is in preparing Co

[2017-02-28 15:56] L-Jovi commented on #728
@sergey-akhalkov  thanks for your reply :)

##about the config

yes, I refer to the [README](https://github.com/Microsoft/react-native-code-push#multi-deployment-testing) and config the `$(CODEPUSH_KEY)` in __Info.plist__

##about the key specified as an option each time it is used

yes, I config my Production and Staging key in my js file as json format, and read them everytime when `codepush.syn

[2017-02-28 22:03] JakeRawr commented on #721
thanks @sergey-akhalkov

I've fixed the issue using [React-Native-Splash-Screen](https://github.com/crazycodeboy/react-native-splash-screen). I simply added SplashScreen.show() when code push is installing the updated bundle. Thank you for your help and now closing this.

Jake

[2017-02-28 22:03] #721 closed

[2017-02-28 23:34] zslucky commented on #727
Hi @sergey-akhalkov , thanks a lot, I got the same dependency.
[code]

but I think it's a CocoaPods issue, when I run the `pod install`, the `CodePush.podspec` file in your repo using `s.summary = package['version'].sub('-beta', '')` and the package.json in your repo is using version `v1.17.1-beta`, so I think this is the issue.

[2017-03-01 00:10] jamealg commented on #720
Sorry for the delayed response. Here's what I see. Is it the mandatory update that's forcing it? What's strange is that I'm almost certain I ran `deployment clear` fewer than 18 days ago so that release shouldn't even be in the history.

[code]

[2017-03-01 00:43] jonrh commented on #574
I've been trying to diagnose a problem on an iOS app that may suffer from a similar trait. I'm using [react-native-keychain](https://github.com/oblador/react-native-keychain) to save/load passwords securely. I'm not entirely sure how it works but I think it's done asynchronously. Could there be a similar block/issue?

@buptkang: The v1.17.1-beta release notes states in Bug Fixes: "2. (**Both iOS**

[2017-03-01 00:47] mmoutenot commented on #629
@sergey-akhalkov that is correct. When I try to run a `Release` build on my physical device (and therefore retrieve the bundle from codepush) that is the error I get.

The command I use to release is `code-push release-react HerpAtlasReporter ios`
My version of react-native is 0.40.0, of react-native-code-push is 1.17.0-beta.

Steps:
1. I created a react native app.
2. I added and linked react nat

[2017-03-01 01:29] mmoutenot commented on #629
It may have been a problem with my node version? By changing the Run script build phase:

[code]

The app now properly runs in Release. I think the problem was that the build was succeeding, but built with an incorrect node version it was unsupported? Huh, cool!

[2017-03-01 03:17] jamealg commented on #720
Yes and thank you for the detailed and thorough response.

[2017-03-01 03:17] #720 closed

[2017-03-01 09:32] sergey-akhalkov commented on #629
@mmoutenot, hmm, seems like you've experienced environment specific problem, you could try to run commands following below and use generated output to determine what version of node causes the issue:
[code]
Please let me know if the issue is resolved or if you need any help.

[2017-03-01 11:59] sergey-akhalkov commented on #574
@jonrh,

We've not reported before that the issue reproduces for iOS too, also @sopaco said:

For the matter of that:

I don't sure about it, so we need some investigation - could you please verify if the issue reproduces or not in case of using `AsyncStorage` (instead of using `Keychain`)? If so, please create [new issue](https://github.com/Microsoft/react-native-code-push/issues/new) so we would

[2017-03-01 12:19] jonrh commented on #574
@sergey-akhalkov Thanks! I will try my best. It's been very hard though to produce code that reliably replicates this. I'll submit an issue if I'm able to. Thanks again for your hard work!

[2017-03-01 12:26] sergey-akhalkov commented on #574
@jonrh, no problem, thank you!

[2017-03-01 12:59] sergey-akhalkov commented on #727
@zslucky, oh, I see, looks like the problem is in leading `v` letter: **v**1.17.1-beta. I've found the same issue here: https://github.com/CocoaPods/CocoaPods/issues/1687
I also could confirm that previous version of `react-native-code-push` does not use leading `v` letter in the [version prop](https://github.com/Microsoft/react-native-code-push/blob/v1.17.0-beta/package.json#L3). And current vers

[2017-03-01 15:41] sergey-akhalkov commented on #699
@ivpusic, sorry for slow responce.
I've tried to reproduce the issue using provided examples but with no luck, so could you please provide me with the minimal version of the app where the issue reproduces? (you could use [`react-native-code-push` demo app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples) as template). Also could you please clarify what you mean by

Do I ge

[2017-03-01 19:53] SudoPlz commented on #395
I was looking for that exact code.
Works for me, thank you..!

[2017-03-01 22:57] SudoPlz commented on #593
Thanks that resolved the issue for me as well..

I was using a function (defined in app.gradle) to automatically set the version of our app the same as what is defined in package.json like so:
[code]
and had trouble.
Now it's ok.

[2017-03-02 00:01] zslucky commented on #727
@sergey-akhalkov  Thanks so much! 😄

[2017-03-02 10:43] rahulmishra-goibibo commented on #457
The same error occurs for me too although on iOS. On android it works just fine. I installed and linked codepush to my ios app multiple times checking each step, but still i am getting the above error. And the log message says "[CodePush] The CodePush module doesn't appear to be properly installed. Please double-check that everything is setup correctly". I am really stuck. Could anyone please help

[2017-03-02 11:01] sergey-akhalkov commented on #728
@L-Jovi, `Staging` and `Production` deployments are actually two different "branches". At every single moment of the time `react-native-code-push` works with only one deployment and does not know anything about other deployments. This means that in case of using `Staging` deployment key your app will download updates from `Staging` "branch". Then, if you start using `Production` deployment key, Co

[2017-03-02 11:26] ryankask opened #733 "Android SDK version mismatch"
React Native uses version 23 of the Android SDK: https://github.com/facebook/react-native/blob/master/local-cli/templates/HelloWorld/android/app/build.gradle#L86.

When trying to compile the project for Android I'm receiving the following error:

[code]

This version requirement was recently changed because of #725 but requiring the newer version seems out of step with React Native's version.

I'm

[2017-03-02 14:45] EdmundMai opened #734 "iOS app not updating"
### Description

My app doesn't update whenever I push to codepush even though it looks like my setup is correct. I can verify that it's not working because I have opened and exited the app a bunch of times.

[code]

### Reproduction

React Native component:

[code]

AppDelegate.m:
[code]

Info.plist

<img width="633" alt="info_plist" src="https://cloud.githubusercontent.com/assets/1857068/2351189

[2017-03-02 20:05] silhouettes commented on #734
@EdmundMai thanks for filing an issue. Some others will look at this shortly, but in the meantime, what is the `CFBundleShortVersionString` in your `Info.plist`? That needs to match the `App Version` semver range expression that is marked on your update (currently `1.0` from your example)

[2017-03-03 00:28] EdmundMai commented on #734
Hi @silhouettes , it is:

	<key>CFBundleShortVersionString</key>
	<string>1.0</string>

[2017-03-03 06:38] L-Jovi commented on #728
@sergey-akhalkov   awesome, I eventually understand your mean, thanks for your patience :)

[2017-03-03 06:38] #728 closed

[2017-03-03 08:17] #727 closed

[2017-03-03 09:55] max-mironov commented on #734
Hi @EdmundMai, could you please try to slightly change your code when you codepushify your app.
Instead of this one:
`export default codePush(MyApp);`
try to use this:
`export default MyApp = codePush(MyApp)`.

Please let me know if it helps.

[2017-03-03 10:24] EdmundMai commented on #734
@max-mironov I think that worked!! When I look at the Xcode log, this is what shows up

Before change:

[code]

After change:

[code]

[2017-03-03 10:25] #734 closed

[2017-03-03 10:45] max-mironov commented on #726
@qinghantang, I'm closing the issue for now because of lack of description, please reopen or create a new one with more detailed repro steps if needed,

[2017-03-03 10:45] #726 closed

[2017-03-03 11:02] rahulmishra-goibibo opened #736 "Different download stats of the app apk in codepush deployment history compared to the download stats of google play store"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens. Also exact reproduction steps and stack trace will be much appreciated.]

### Reproduction

[FILL THIS OUT: If possible try to reproduce your bug on our basic sample: https://github.

[2017-03-03 11:03] sergey-akhalkov commented on #733
@ryankask, thank you for reporting the issue.

Agreed, seems like there is an inconsistency, but I could see that the PR fixes this issue https://github.com/Microsoft/react-native-code-push/issues/724.

I also think it would be better to have one common version of Android SDK: the same both for React Native and React Native Module for CodePush, so I'll investigate and discuss this approach. As for

[2017-03-03 11:03] rahulmishra-goibibo commented on #736
Hi,

After pushing my app to the codepush server and then to the google play store i am getting a huge difference in total number of installs of the app by the users in codepush deployment history and google playstore. It's almost in the ratio 1:2 favouring the playstore. Can anybody guide me as why this could happen

[2017-03-03 13:15] sergey-akhalkov commented on #457
@rahulmishra-goibibo, you've got the log message due to native-site of `react-native-code-push` Module have not been installed properly:
https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L475
https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L533

Due to you have vitrified manual installation steps multiple times, it is hard to say what goes wron

[2017-03-03 18:57] j2kun opened #738 "Fastlane action for code push?"
Code push is great! Fastlane is also great! Is there a fastlane action for Codepush? If not, would you folks be able to create a simple one?

[2017-03-03 20:06] buptkang commented on #733
Hello @ryankask, thanks for pointing us this incorrect update. Yep, the current react-native supports up to android API level as 23, the react-native-code-push repo will sync with their upgrade.  In other word, the current version does not support Android SDK 7.0 and upper.

[2017-03-04 15:17] adrianha opened #739 "[Android] App become slow when doing fresh install with up-to-date code-push"
### Description

Hi, i got strange issue when doing fresh install and up-to-date code push app version, animation become slower. After i release some update to code push and then the app sync the update, it will be working normally. Animation become smooth. Any idea about this?
PS: Its running on Android with Release build.
Currently using: react-native-code-push@1.17.0-beta

[2017-03-05 09:28] maliang2283 opened #740 "Cannot add task ':app:bundleDebugJsAndAssets' as a task with that name already exists. > Cannot add task ':app:recordFilesBeforeBundleCommandDebug' as a task with that name already exists."
* react-native-code-push version:1.16.1-beta
* react-native version:0.39.1

[2017-03-05 11:05] #740 closed

[2017-03-05 20:28] fungilation commented on #738
Sounds like a perfect marriage. But does it make sense though? Fastlane is for deploying to app stores. Codepush is for bypassing the app stores, and push JS code updates directly to already installed apps.

[2017-03-06 02:02] j2kun commented on #738
So since commenting here I wrote a barebones version, which I can link to tomorrow (let me know if you'd like this). I agree with what you said, I'm using it to have nice defaults and to do things like auto-generate changelogs from git commits.

[2017-03-06 02:46] fungilation commented on #738
That is a good use case. Where does your changelogs go though if through code push, inside the app as a modal?

[2017-03-06 07:16] max-mironov commented on #722
Hi @mike623, please let us know if you still face the issue.

[2017-03-06 07:19] max-mironov commented on #718
Hello @amourya-systango, do you still experience the issue?

[2017-03-06 07:20] max-mironov commented on #716
@dannyyaou - hi, do you have a chance to look at this?

[2017-03-06 11:36] sergey-akhalkov commented on #713
Hello @gabergg, sorry for slow response, do you still experiencing the issue? Were you able to resolve it?

[2017-03-06 12:05] vedovato commented on #696
Yeah, i do @sergey-akhalkov but i think it's something with **wix-react-native-navigation** not codepush itself. I'm not being able to wrap my root component..

[2017-03-06 12:11] sergey-akhalkov commented on #696
@vedovato, could you please provide me minimal version of the app (https://codepaste.net/ehp1a1 link does not work for me) where the issue reproduces? So I will investigate it and try to help you.

[2017-03-06 12:16] vedovato commented on #696
Hey, ok i'd appreciate that @sergey-akhalkov. [Here goes the code snapshot](https://gist.github.com/vedovato/d4405ff36db140125e607fdec6d66621).

Thank you!

[2017-03-06 12:52] sergey-akhalkov commented on #696
@vedovato, I have a quick look on your code snapshot and I could advice you the following:
1. Remove lines: https://gist.github.com/vedovato/d4405ff36db140125e607fdec6d66621#file-index-js-L4,  https://gist.github.com/vedovato/d4405ff36db140125e607fdec6d66621#file-index-js-L60 and https://gist.github.com/vedovato/d4405ff36db140125e607fdec6d66621#file-news-js-app-news-screen-L31
2. Add `News = codeP

[2017-03-06 18:33] yaronlevi opened #744 "Question - Can I use 0.42.0 on Android?"
I saw a breaking change in android which deprecates JSBundleLoader.getSourceUrl()
Will it affect CodePush with 0.42.0?

[2017-03-06 19:41] sergey-akhalkov commented on #744
Hello @yaronlevi, thank you for the question.
I've verified RN 0.42 support here: https://github.com/Microsoft/react-native-code-push/pull/742 and all seems to be ok, please let me know if you see any issues while using `react-native-code-push` with RN 0.42

[2017-03-06 19:50] silhouettes commented on #733
@ryankask - Just to keep you updated, @sergey-akhalkov will change it back to `23.0.1`, and we will publish a release this week. Thank you for filing this!

[2017-03-06 19:52] ryankask commented on #733
@silhouettes Great! Thanks for following up.

[2017-03-06 20:00] yaronlevi commented on #744
Great! thanks... will check and report back

[2017-03-06 21:16] amedeedaboville commented on #457
Not sure if this helps, but I had the same issue: iOS installation looked solid (libCodePush.a added, libz.tbd added, AppDelegate.m updated) but CodePush remained undefined after import and I got the  `[CodePush] The CodePush module doesn't appear to be properly installed. Please double-check that everything is setup correctly` warning.

A `Clean` of the main project in Xcode, and then re-running

[2017-03-07 01:16] j2kun commented on #738
@fungilation I think this would be a good use case. I also remembered that fastlane does things like extract your binary version from the configs, so you don't have to keep track of which binary version you want to target. I'm not entirely convinced it's the right tool for the job, but fastlane has so many nice bookkeeping utilities (and a nice UI) that I figure why not give it a shot.

Here's a v

[2017-03-07 01:21] silhouettes commented on #738
Paging @panarasi - should he ask Fastlane to incorporate this natively?

My personal thoughts are that we would be okay with this, but we may not be able to provide any special support for it.

[2017-03-07 01:23] j2kun commented on #738
FWIW, since it's just a CLI wrapper, I think the fastlane folks would be able to maintain it just fine, should they decide to incorporate it.

[2017-03-07 04:54] rouge3351 opened #745 "Failed to build DependencyGraph: @providesModule naming collision"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

[FILL THIS OUT: Explain what you did, what you expected to happen, and what actually happens. Also exact reproduction steps and stack trace will be much appreciated.]

### Reproduction

[FILL THIS OUT: If possible try to reproduce your bug on our basic sample: https://github.

[2017-03-07 07:46] desmond1121 opened #746 "[Android] Upload aar to bintray"
As the fact that not every company use RN to write whole app, Android and JS code always place in different directory. I think there is a better approach to get Android SDK in their project: upload Android sdk to bintray and users can compile them with gradle.

In this approach, older version users would not change anything, but newbee of RN code-push can use gradle compile 'com.microsoft.codepush

[2017-03-07 10:42] iclems commented on #738
+1 As I was just looking for this today. Use case is clear for me: I need to push native update via fastlane only once in a while when I add native modules. The rest of the time, I use code push to update the JS bundle only. At the moment, there's a clear pain as most of the time I release code-push before or after the fastlane beta, and it's not easy to prevent the new beta to automatically updat

[2017-03-07 11:14] sergey-akhalkov commented on #711
@ggordan, just a friendly ping.

[2017-03-07 11:15] sergey-akhalkov commented on #699
@Micjoyce. @ivpusic, just a friendly ping.

[2017-03-07 11:16] sergey-akhalkov commented on #629
@mmoutenot, just a friendly ping.

[2017-03-07 11:19] ivpusic commented on #699
@sergey-akhalkov sorry for a delay...so all images are showing up correctly in 90% percent of the cases. When 10% happen, then if I have 20 images on the screen, maybe 15 of them won't show...it is really random. How I "fix" this, is just to navigate to another tab in the application, go back, and then they will show up.

As I said before....this happens only after I push some fix via code-push. I

[2017-03-07 11:56] sergey-akhalkov commented on #699
@ivpusic,

Are you using React Native Navigation Module: https://github.com/wix/react-native-navigation? The root of the issue could probably be here, but we need to check it, so could you please verify if the issue reproduces in case you are not using Navigation Module?

I also can see that your second example contains absolute path:
[code]

Please note, that absolute path maps to the old (binary

[2017-03-07 11:58] ivpusic commented on #699
I am using https://github.com/react-community/react-navigation for navigation.

Tnx for tip regarding loading images. Will do it that way in the future. However this issue happens also for images which are loaded over network (https)

[2017-03-07 13:49] sergey-akhalkov commented on #699
@ivpusic, could also please confirm if you've [CodePush-ified](https://github.com/Microsoft/react-native-code-push#plugin-usage) your app's root component?

[2017-03-07 13:52] ivpusic commented on #699
yes

[2017-03-07 21:56] sergey-akhalkov commented on #733
Closing this due to #747 has been merged.

[2017-03-07 21:56] #733 closed

[2017-03-08 05:52] quentinyang opened #748 "Warning from Apple"
I received a warning from Apple this morning , it seems that, App Store doesn't allow developers to use the updates, how to solve it?

[2017-03-08 06:01] dannyyaou commented on #716
Hello, Sorry for replying so late!
yes ! reinstall last version do work!

[2017-03-08 06:55] BretJohnson commented on #748
Does your app use Rollout.io or any other code update technologies beyond CodePush itself?

[2017-03-08 08:27] sergey-akhalkov commented on #716
@dannyyaou, thank you for the response, closing this for now, please feel free to reopen if needed.

[2017-03-08 08:27] #716 closed

[2017-03-08 13:18] beansoftapp commented on #582
I've found an problem which causes this exception, eg my React JS used a customized native component, however this native component doesn't added to the ReactInstanceManager.Builder by method addPackage, then this problem will occur.

[2017-03-08 15:42] ajwhite commented on #748
I'm a bit speculative that this response from Apple is particular to CodePush.

For clarity, as I'm sure there will be developers verifying the effect on CodePush, the current guidelines from Apple are:

CodePush adheres to these guidelines. Rollout and JSPatch provide a framework for Javascript to execute any arbitrary native code. CodePush does not operate under these conditions.

[2017-03-08 16:25] ajwhite opened #749 "Feature Request - Signing bundles"
Security is an important concern for our b2b application, and as such, we had performed some research in how CodePush enforces security with HTTPS and requiring access keys (https://github.com/Microsoft/react-native-code-push/issues/708) to publish and receive updates.

These are good measures in ensuring secure transmission of content, but I'd like to propose an optional step that applications ca

[2017-03-08 16:45] yaronlevi commented on #744
Works great!

[2017-03-08 16:45] #744 closed

[2017-03-08 18:54] silhouettes commented on #749
Hey @ajwhite, we've recently begun reviving our investigation into a code signing feature. Our original plan is something like this: https://github.com/Microsoft/code-push/issues/307#issuecomment-242824845. Do you have any thoughts on that approach as compared to yours? My thoughts at the time were that we didn't need to store anything on the server at all, that way in the unlikely event that the

[2017-03-08 19:12] ajwhite commented on #749
Great point, the real value is in the process of signing the bundle, and verifying the bundle within the application. If it gets an untrusted bundle, it will simply reject it. The server-side validation really doesn't play a critical role here, and as you mention, opens up its own vector.

Agreed on this point 👍

[2017-03-08 19:59] BretJohnson commented on #748
@quentinyang We suspect your app is using JSPatch. Can you confirm that. Thanks.

[2017-03-08 21:33] panarasi commented on #366
@sergey-akhalkov Can you investigate this issue ? This may be possible once we move all our logic to native code.

[2017-03-08 21:34] panarasi commented on #577
@sergey-akhalkov Can we investigate this ? We would need a backward compatible change.

[2017-03-08 21:35] panarasi commented on #685
@silhouettes Since this is resolved, can we close this issue ?

[2017-03-08 22:09] silhouettes commented on #685
Based on the information given, I think a reasonable conclusion is that the app is being run from inside a firewall. I'll close this issue for now, but if you think it deserves more investigation @mikelambert, or if you think the way we handle this use-case needs to be improved, please let us know!

[2017-03-08 22:09] #685 closed

[2017-03-09 05:41] panarasi commented on #738
I think we should close this issue here and have documentation in CodePush linking to the Fastlane action.
Btw, we are also working on integrating CodePush with Mobile Center - it would have a similar experience.

[2017-03-09 12:51] vladimir-kotikov commented on #572
@panarasi, I was thinking that we might want to add a logic to postlink script that would add required linker option to Xcode project so the project would compile with older React-native versions (they don't seem to have this flags added by default)

[2017-03-09 13:17] sergey-akhalkov commented on #745
Hi @rouge3351, seems like you've got this issue due to `React` folder in `/project_dir/ios/Pods` directory. I could not see that folder in my `Pods` folder, so the issue does not reproduce. Please try to remove `/project_dir/ios/Pods/React` folder and let me know if it helps.
Also please make sure your Podfile has been configured properly. Here is contents of my own version of `Podfile`:
[code]

[2017-03-10 10:28] TyrealGray commented on #748
https://github.com/facebook/react-native/issues/12778

[2017-03-10 10:58] diegocouto opened #750 "Warning: Stateless function components cannot be given refs"
Hi, guys!

First of all, thanks for your amazing work with code-push, it's awesome! 😉

### Description

After finishing codePush setup process, I've started to see a warning like:

[code]

### Reproduction

Currently, I have a setup file which is responsible for defining the main component, which is just like:

**setup.js**
[code]

**index.ios.js / index.android.js**
[code]

Except for a _ref_ use

[2017-03-10 11:29] diegoperini commented on #722
I had the same issue. I logged out and logged in again to fix the issue. Just letting you know.

[2017-03-11 20:04] kevinhylant commented on #718
I am experiencing the same issue on iOS with the following dependencies installed via yarn.
Currently, our react-native repo is separate from each our iOS & Android repos & I am seeing this error only when running my tests with Jest.

Happy to provide additional information to help you debug!

[code]

[2017-03-12 12:15] 438198602 opened #753 "release-react【Error】Not Found"
Hi, guys!
I have a problem，when I run “code-push release-react MyApp android -d Production”，it throw 【Error】Not Found。Who can save me？thanks……

[2017-03-12 21:18] max-mironov commented on #753
Hello @438198602 thanks for posting an issue, a couple of questions:
a) What version of code-push cli/react-native you are on? Do you see any issues with other commands (like code-push app ls/ code-push deployment history MyApp Production etc?
b) Are you able to reproduce this on our [Sample ](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp)app, or it is no

[2017-03-13 03:15] 438198602 commented on #753
@max-mironov
a)：My code-push is 1.12.8-beta， react-native 0.41.2，code-push app ls/code-push deployment history MyApp Production is work。
b)：Someone else to build the server, he can be successful, my error。

[2017-03-13 07:06] max-mironov commented on #722
@diegoperini - thanks for the info! @mike623 - I'm closing the issue for now, please feel free to reopen or create a new one of you could still see this (also it would be great if you could try to login-logout from cli first as it was suggested by @diegoperini)

[2017-03-13 07:06] #722 closed

[2017-03-13 07:10] max-mironov commented on #753
@438198602 is it possible for you to ping me via skype so it would be easier to determine the issue? (my skype id is max.mironov89)

[2017-03-14 06:51] max-mironov commented on #753
@438198602 btw just a guess - may your issue be related to something like this?
- http://stackoverflow.com/questions/37189081/react-native-command-not-found
- http://stackoverflow.com/questions/32253981/path-error-while-installing-react-native-command-not-found-error
Have you tried to uninstall and re-install node-npm and reinstall  react-native-cli?

[2017-03-14 06:57] max-mironov commented on #696
@vedovato - hi, do you have a chance to look at this?

[2017-03-14 06:58] 438198602 commented on #753
Thank you, but now I have encountered other problems with the React Native, I need to solve this problem。after that, I will try what you say for code-push.Thank you very much！

[2017-03-14 06:58] 438198602 commented on #753
@max-mironov
Thank you, but now I have encountered other problems with the React Native, I need to solve this problem。after that, I will try what you say for code-push.Thank you very much！

[2017-03-14 07:05] max-mironov commented on #711
Closing the issue for now, please reopen/create a new one if the issue still persist or you have any questions.

[2017-03-14 07:05] #711 closed

[2017-03-14 07:11] 438198602 commented on #753
@max-mironov  OK，you can close this issue for now.

[2017-03-14 07:18] #753 closed

[2017-03-14 07:36] max-mironov commented on #629
@mmoutenot we are closing the issue for now, please reopen or create a new one when you get a chance to look at this.

[2017-03-14 07:36] #629 closed

[2017-03-14 08:09] rouge3351 commented on #745
yes thank you!!! :)

[2017-03-14 08:12] #745 closed

[2017-03-14 08:18] WhynoChinese opened #754 "undefined is not an object (evaluating '_reactNativeCodePush2.default.CheckFrequency')"
I have a problem that 'defined is not an object (evaluating '_reactNativeCodePush2.default.CheckFrequency') '.
What should I do for this?

![image](https://cloud.githubusercontent.com/assets/11802308/23891539/e56d7e0c-08d1-11e7-9f12-0b144e751359.png)

[2017-03-14 09:00] max-mironov commented on #754
Hello @WhynoChinese, thank you for reaching us the issue. Can you please answer several questions below to help us to determine the problem:
1) Can you try to reproduce this with our [sample app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp.)? If you can't reproduce the bug on it, provide us as much info as possible about your project (it would be best i

[2017-03-14 09:57] kevinTutu opened #755 "how to adapt react-native verison 0.43.0-rc2"
hello,everyone:
     when I plan to upgrade the react-native version to 0.43.0,but the CodePushNativeModule.java file report an error,the ReactChroeographer.class can not be found.And I seek the file in the react package，indeed，they delete the file in the version 0.43.0-rc.2. How can I fix this problem, thanks.

[2017-03-14 10:01] sergey-akhalkov commented on #754
Hello @WhynoChinese, please also look at the same issue here: https://github.com/Microsoft/react-native-code-push/issues/457, it also may help you to figure out what goes wrong.

[2017-03-14 10:02] sergey-akhalkov commented on #755
Hello @kevinTutu, here is PR fixing the issue https://github.com/Microsoft/react-native-code-push/pull/735, please let me know if it helps or if you see any issues.

[2017-03-14 10:32] kevinTutu commented on #755
um,it not fit me , the CodePushNativeModule.java is error, when 'import com.facebook.react.uimanager.ReactChoreographer' has a problem

[2017-03-14 10:44] sergey-akhalkov commented on #755
@kevinTutu, could you please clarify - you have tried to apply [PR fixing the issue](https://github.com/Microsoft/react-native-code-push/issues/755#issuecomment-286381953) and the issue is steel reproduces?

Here you could see that React Native team has changed `ReactChoreographer` class location: https://github.com/Microsoft/react-native-code-push/pull/735/files#diff-99865b122cb5308ab005ac99ccb55

[2017-03-14 10:51] kevinTutu commented on #755
oh..it's my fault,thanks a lot

[2017-03-14 10:51] #755 closed

[2017-03-14 11:50] palaniraja opened #756 "typo in code snippet"
### Description

Typo in code snippet, for some reason copy paste to deploy to ios seems to work, where as it caught me when I try the same for android.

URL: https://microsoft.github.io/code-push/docs/tutorials.html
Section: UPDATE DIALOG CUSTOMIZATION

Code:
   ` codePush.sync({ updateDialog: updateDialogOptions};`

Corrected:
    `codePush.sync({ updateDialog: updateDialogOptions});`

### Repro

[2017-03-14 13:06] vedovato commented on #696
I'll have a look into it soon, @max-mironov @sergey-akhalkov. Sorry for delaying.

[2017-03-14 13:39] max-mironov commented on #756
@palaniraja thanks for pointing at this, we've fixed typo.

[2017-03-14 13:39] #756 closed

[2017-03-14 19:56] kevinhylant opened #757 "[iOS] - Crash on initial launch during first sync only"
### Description
A.)  After upgrading from an older version of CodePush to 1.17.2-beta to maintain compatibility with a required react-native upgrade (see deps below), we began to experience crashes on the first launch of the app when syncing CodePush (stack trace below)

![pasted_image_at_2017_03_14_03_18_pm_480](https://cloud.githubusercontent.com/assets/7389576/23919426/2d88be22-08cd-11e7-8458-9

[2017-03-14 20:15] silhouettes commented on #757
@max-mironov Please investigate this one as soon as you are able!

[2017-03-15 09:44] prithsharma commented on #494
@sergey-akhalkov really sorry for the late reply.
My [comment above](https://github.com/Microsoft/react-native-code-push/issues/494#issuecomment-273820526) suggests the same thing as the update in the docs(correct me if I am wrong).

While I had figured it out for Android, I still have to do it for iOS - the iOS staging env docs will be helpful. Thank you.

[2017-03-15 11:09] Colmea opened #758 "Android: no update available for releaseStaging build"
### Description

Hello,

I try to use code-push for my app, but despite all my updates in the Staging, the app won't update (debug says the app is up to date). I tried everything.

### Reproduction

What I did:
- Checked my deployment key and android version:

build.gradle:
[code]

- Release a staging/production (and mandatory) update for all binary versions.

Command used: `code-push release-reac

[2017-03-15 13:38] max-mironov commented on #757
Hello @kevinhylant can you please clarify - you are unable to build the app with xCode and got an error with

 (make sure that all steps from [here ](https://github.com/Microsoft/react-native-code-push/blob/master/docs/setup-ios.md#plugin-installation-ios---manual)are completed)?
Or you can build the app with xCode and deploy to the device but it crashes when you call `sync` method for update? But

[2017-03-15 14:40] kevinhylant commented on #757
@max-mironov  I can confirm that I completed all of those steps.

Originally (see **A.)**, Xcode was able to build the project successfully, but once distributed to devices the build crashes on `sync`

Then after completing steps, B -> D, Xcode builds failed with `React/RCTBridge.h not found` as the reason

[2017-03-15 15:27] max-mironov commented on #757
@kevinhylant just to double check that on step B-1 you are adding correct node_modules/react-native-code-push/ios version of react-native-code-push (so you have removed the previous one and installed the latest with `npm install` command). Seems that something goes wrong after step B-2 and I've tried to repro this by manually removing - installing react-native code-push and updating react-native w

[2017-03-15 23:52] kevinhylant commented on #757
Yes. I am using yarn@0.20.3 and have removed the old version entirely

[2017-03-16 10:44] max-mironov commented on #757
@kevinhylant got it, thanks. I've googled about this problem, what I've found so far and you can possibly try do look at:
http://stackoverflow.com/a/41488258
https://github.com/facebook/react-native/issues/12042#issuecomment-275025960

Also I believe that adding references to header search paths is not really needed, so may be it make sense to try to reinstall code push plugin and see if it helps.

[2017-03-16 14:47] max-mironov commented on #758
Hello @Colmea - that looks very interesting!
I've tried to reproduce the issue on my own and add `releaseStaging` to my build gradle and build it with `react-native run-android --variant=releaseStaging` and it works.
How do you see message

Can you provide us with output for both `code-push debug android` and `adb logcat` commands?
E.g. mine said:

[07:32:52] Checking for update.
[07:32:52] Report

[2017-03-17 03:46] gavinyeah opened #759 "Android app doesn't recognize version code in semver expressions"
### Description

Android app doesn't recognize version code in semver expressions, while it works for iOS app.

### Reproduction

When I use following command to release for android, it works fine and all clients can get the update:
`code-push release-react MyApp android`

When I use command with semver expression for targetBinaryVersion like below, all clients can't get the update:
`code-push rel

[2017-03-17 07:45] yimingtang commented on #635
Is there any update on this issue?

[2017-03-17 08:40] Colmea commented on #758
Hi @max-mironov ,

Thanks for your quick reply.

Regarding the screenshot with deployment history. My bad, the screenshot is cropped, but the first table is actually the Staging deployments.

Comes from the code-push debug android:
[code]

Questions:
- I saw you use `--variant=releaseStaging`. I got an error when running this instead of "--configuration=releaseStaging": `Task 'installReleaseStagin

[2017-03-17 11:47] max-mironov commented on #758
@Colmea

As for your question regarding usage of `configuration` instead of `variant` - I believe it depends upon react-native version you are running for, please see similar SO question [here](http://stackoverflow.com/a/42288238).

You will have

message only when you actually download package or you mean that you will see download progress bar when downloading?

Btw your logs said that you are a

[2017-03-17 13:47] Colmea commented on #758
Hoow, ok. Found it !

The deployment key is, indeed, not the good one. Actually, I've har corder the deployment key:

MainApplication.java:
[code]

And in my strings:xml:
`    <string moduleConfig="true" name="reactNativeCodePush_androidDeploymentKey"> XXXXXJz1LSztANsCsNXXXX1xeXXX </string>`

The question is: how can I dynamically give the Staging or Production deployment key in MainApplication.ja

[2017-03-17 14:18] max-mironov commented on #758
@Colmea - thanks for quick turn around!

Yeah, that should be possible, at least looks like I was able to do this initially when trying to reproduce the issue. May be you can share the minimum example of your app so I can try it on my environment to see if it works?

[2017-03-17 15:15] sriraman commented on #748
I'm using only CodePush. We didn't use anything frameworks like Rollout.io or JSPathc. Still, My app got rejected by apple with the same warning from Apple today.

[2017-03-20 08:45] max-mironov commented on #759
Hello @gavinyeah, thank you for your question,

I've tried to reproduce this on sample app, so I've:
1) Defined app version in build.gradle as of 2.7.0
2) Deployed the app with react-native run-android
3) Released new version with `-t ">=2.7.0"` flag
4) Was able to apply new release
![image](https://cloud.githubusercontent.com/assets/24542698/24092870/475d46f2-0d0e-11e7-9a97-ef5b88421f14.png)

Do

[2017-03-20 19:46] silhouettes commented on #748
For others looking at this issue, I am linking it to an equivalent issue in the RN repo which is more up-to-date: https://github.com/facebook/react-native/issues/13011. It seems unlikely that CodePush is the issue here.

[2017-03-21 05:13] max-mironov commented on #754
@WhynoChinese, do you have a chance to look at this?

[2017-03-21 13:01] sergey-akhalkov commented on #750
Hi @diegocouto, thank you for reporting the issue. Also please sorry for late reply.
The issue is caused by [this line of code](https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L430). But the root cause of the issue is that stateless component is in use. Our demo app [extends React.Component](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePu

[2017-03-21 13:36] sergey-akhalkov commented on #457
Closing this for now, please feel free to reopen or create new one.

[2017-03-21 13:36] #457 closed

[2017-03-21 16:49] Igor1201 commented on #645
I've recently found that this error start to happen when you have `use_frameworks!` declared on the Podfile

[code]

Without this line, the app builds normally.

[2017-03-21 18:07] Phredward opened #760 "SyncStatus updating incorrectly"
### Description

Setup: My app checks for new code push ON_APP_RESUME, and install updates ON_APP_RESTART.
[code]
I'm using SyncStatus to display a message prompting users to restart the app, after a period of time has elapsed.

After SyncStatus correctly goes to UPDATE_INSTALLED, on the next resume I see it transition to CHECKING_FOR_UPDATE and then UP_TO_DATE, even though the update has not yet

[2017-03-21 19:18] panarasi commented on #645
@sergey-akhalkov Can we investigate this ?

[2017-03-22 02:40] WhynoChinese commented on #754
@max-mironov  This time I was so busy that I did not notice your reply to this I was sorry.Now my team has solved it, I have reworked it and it works.

[2017-03-22 05:10] max-mironov commented on #754
@WhynoChinese thank you for your reply! If you don't mind I'm closing the issue now if you have resolved it, please feel free to reopen or create a new one of needed.

[2017-03-22 05:10] #754 closed

[2017-03-22 07:59] sergey-akhalkov opened #762 "CodePush.restartApp method does not work properly"
### Reproduction
**index.android.js / index.ios.js**
[code]

Repro steps:
1. produce updates both for Staging and Production deployments
2. call syncProduction() method
3. call restartApp() method
4. call syncStaging() method

**Actual**: CodePush prints "App up to date." due to probably using Production deployment key
**Expected**: CodePush prints "Update installed and will be applied on restart.

[2017-03-22 09:03] sergey-akhalkov commented on #749
Closing this for now due to discussion have place in https://github.com/Microsoft/code-push/issues/307.
Please feel free to reopen if needed.

[2017-03-22 09:03] #749 closed

[2017-03-22 13:38] sergey-akhalkov commented on #713
Closing this due to #743 has been merged. Please feel free to reopen if needed.

[2017-03-22 13:38] #713 closed

[2017-03-22 13:59] quentinyang commented on #748
I use codepush and others SDK, but no JSPatch.

[2017-03-22 14:15] sergey-akhalkov commented on #698
@leonardgithub, to promote app version you have to change `android:versionName` property value in `AndroidManifest.xml` file, but it cannot be changed at runtime. This is how Android designed. To promote app version you need to perform a release to the app market store.

Closing this for now, please feel free to reopen if you have any questions or if you have ideas how we could change app version

[2017-03-22 14:15] #698 closed

[2017-03-22 14:41] leonardgithub commented on #698
Thank you, sergey-akhalkov

[2017-03-22 19:34] silhouettes commented on #748
@quentinyang could you list the iOS packages that you are currently using? This may also help the investigation in the linked issue.

[2017-03-22 19:56] j2kun opened #764 "Is there a way to get the deployment name (Staging/Production/etc)?"
### Description

After calling `codePush.getUpdateMetadata(codePush.UpdateState.RUNNING)` I want to display (for debugging purposes) the name of the deployment that codepush is pulling from. Is this possible without a new feature? (You provide the deployment key, but I'd prefer not to do the reverse lookup because that would require hard-coding the deployment keys in my JS)

[2017-03-22 20:01] silhouettes commented on #764
@j2kun - not without additional work, unfortunately. You could possibly put the name of the deployment as a property in your Info.plist, immediately below where the deployment key is specified.

[2017-03-22 20:05] j2kun commented on #764
@silhouettes I see. My use case is in dynamically changing the deployment, so this won't work. I'd be happy to contribute a PR, but it seems the server side is private?

[2017-03-22 20:08] silhouettes commented on #764
Yes, it is private unfortunately :( Could you maybe use whatever mechanism you are using to dynamically get new deployment keys, to also feed the new deployment name?

[2017-03-22 20:27] j2kun commented on #764
@silhouettes It's not a huge deal. I was testing that mechanism, and it just taking extra steps to go through the `code-push-cli` deployment history to match up the version numbers with what is reported by `getUpdateMetadata`.

Anyway, consider the feature requested :) Hope it's an easy one :)

[2017-03-22 20:27] #764 closed

[2017-03-22 20:29] silhouettes commented on #764
Thanks @j2kun, your feedback is appreciated! We'll keep an eye out for similar requests.

[2017-03-22 20:42] sergey-akhalkov commented on #577
Closing this due to #763 has been merged, please feel free to reopen if needed.

[2017-03-22 20:42] #577 closed

[2017-03-23 05:30] max-mironov commented on #757
@kevinhylant, do you have a chance to look at this? Please let us know if you still face the issue.

[2017-03-23 05:32] max-mironov commented on #758
@Colmea - hi, could you please look at this and let us know if we can help you here.

[2017-03-23 05:34] max-mironov commented on #696
@vedovato - any updates about this? Just a friendly ping :)

[2017-03-23 09:32] gavinyeah commented on #759
Hi @max-mironov , thanks a lot for looking into this.

I'm afraid the issue is caused by the bundle naming, not the version expressions.

In our local environment, we're using index.android.bundle for Android deployment while using index.ios.bundle for iOS deployment. It works fine.

In our build system on Visual Studio Online, we're using main.jsbundle for both Android and iOS deployment. They're

[2017-03-23 09:41] Colmea commented on #758
HI @max-mironov
I guess you can close this issue since I resolved my "bug".

I still don't know how to dynamically add my codepush key in MainApplication.java and why we need this if we have the keys in build.gradle, but it's not related to this issue.

Thank you very much for your help !

[2017-03-23 09:56] max-mironov commented on #759
@gavinyeah - thank you so much for detailed explanation of the root cause of the issue. If you don't mind I'm closing this one now, please feel free to reach as if you see any issues with code-push.

[2017-03-23 09:56] #759 closed

[2017-03-23 10:03] sergey-akhalkov commented on #758
@Colmea, got it, closing this for now.

Please look at https://github.com/Microsoft/react-native-code-push#android
Using this approach you just need to specify build type you what to use, so `BuildConfig.CODEPUSH_KEY` property will contain appropriate deployment key value.

[2017-03-23 10:03] #758 closed

[2017-03-23 10:26] sergey-akhalkov commented on #703
Closing this due to https://github.com/Microsoft/react-native-code-push/pull/735 has been merged. Please feel free to reopen if need.

[2017-03-23 10:26] #703 closed

[2017-03-23 10:56] sergey-akhalkov commented on #375
Closing this due to https://github.com/Microsoft/code-push/issues/273

[2017-03-23 10:56] #375 closed

[2017-03-23 13:52] sergey-akhalkov commented on #760
Hi @Phredward, thank you for reaching us, I've just created [PR](https://github.com/Microsoft/react-native-code-push/pull/765) fixing the issue, so would you have a chance to look at it and verify if it works as expected?

[2017-03-23 14:56] vedovato commented on #696
Last week i was in trouble with apple certificates so i couldn't test it properly in my phone and this is very important to us so i'll try my best to feedback you very soon. Thank you for pinging me again, @max-mironov

[2017-03-23 16:17] vedovato commented on #696
Reiterating, i'll be able to only see this tomorrow in the afternoon :/

[2017-03-23 17:38] max-mironov commented on #696
@vedovato
No problem, it's not something super urgent. Please verify it at any convenient time for you :) We just wanted to be sure that the issue is fixed for you.

[2017-03-23 18:18] Phredward commented on #760
Hi @sergey-akhalkov

That totally solves the problem, thanks so much!

[2017-03-24 07:56] max-mironov commented on #718
Hi @kevinhylant, sorry for slow response.
Could you please be more specific about your repro steps?
I've tried the following:
1) init new react-native app with `react-native init AppName`
2) added latest `react-natvie-code-push-plugin` and also dependencies from above with yarn
3) linked `react-native-code-push-plugin` with `react-native link react-native-code-push` command
4) was able to run `npm

[2017-03-24 18:19] manuelkch commented on #738
if anyone is interested in using codepush for react native app's in fastlane we've created out of business needs a plugin under:https://github.com/manuelkch/fastlane-plugin-code_push. Feel free to participate or ask for features

[2017-03-24 19:29] nerdmed opened #766 "App not updating after update is avaliable and is resumed"
### Description

The app is not switching to the downloaded JS bundle after several restarts. The download is working and calling the `getUpdateMetadata` function its telling me about the correct version.

[code]
My main component is wrapped with the setting `ON_APP_RESUME`

[code]

This is the logs i get on the first start:

[code]

Restarting also after a coulpe of minutes will just log:
[code]

[2017-03-24 20:30] amourya-systango commented on #718
It sounds good, if it is working with npm test. I will test it at my end
soon and reply you.

Thank You

On Fri, Mar 24, 2017 at 1:26 PM, max-mironov <notifications@github.com>
wrote:

[2017-03-24 23:04] panarasi commented on #738
Closing this issue since we are already working on CodePush and Mobile Center integration.

[2017-03-24 23:04] #738 closed

[2017-03-26 16:01] just4fun opened #767 "How about native changes (need rnpm link)?"
I have an APP in App Store, and its version is `1.0.0`.

During these months, I pushed some changes (v1, v2) via `react-native-code-push` to fix some bugs.

In addition, I have also finished some new features, which contains some native changes (need rnpm link).

Now I want to submit new version `2.0.0` to App Store.

Here is question, if I push some changes (v3) via `react-native-code-push` to fi

[2017-03-27 06:37] max-mironov commented on #767
Hi @just4fun, according to this https://github.com/Microsoft/code-push/tree/master/cli#target-binary-version-parameter it is ok to release updates only to v.2.0.0 and users that are running earlier version will not be affected.

[2017-03-28 03:18] chang-chaunce opened #768 "After update android sdk and gradle ,can not build apk"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

After update android sdk and gradle ,can not build apk. And i can't downgrade the sdk and gradle.If downgrade ,android studio will prompt  Minimum required is 25.0.0.

distributionUrl=https\://services.gradle.org/distributions/gradle-3.3-all.zip

ext {
  // Sdk and tools
  mi

[2017-03-28 04:25] coutliuxing commented on #739
@adrianha hi,Your problem solved?

[2017-03-28 08:28] jaeky opened #769 "Unable to parse "ios/my_product_name/Info.plist". Please ensure it is a well-formed plist file."
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

Hi!
I tried `code-push release-react my_product_name ios` but it returns this message: `Unable to parse "ios/my_product_name/Info.plist". Please ensure it is a well-formed plist file.`

My Info.plist file is

[code]

I don't know what is wrong.. is it because of my third part

[2017-03-28 10:41] sergey-akhalkov commented on #366
Hi @nevir, @tomauty, I've just created the [PR ](https://github.com/Microsoft/react-native-code-push/pull/770) that implements this feature, would you have a chance to look at it and verify if it works as expected?

[2017-03-28 12:27] max-mironov commented on #769
Hello @jaeky, I've looked at your plist file provided and although it looks valid when checking it via `plutil <filename>` tool it looks like one of our 3rd party dependencies - [plist ](https://www.npmjs.com/package/plist) is throwing an error at this line: https://github.com/Microsoft/code-push/blob/master/cli/script/command-executor.ts#L877.

So I've dig deeper and it looks that empty nodes lik

[2017-03-28 13:23] zeljkoX opened #771 "Android: App crash on first update"
Android, App crashes after downloading first update. iOS everything forks great.

Update  for android generated with:  code-push release-react APP android
react-native-code-push: v1.17.3-beta
[code]

[2017-03-28 13:33] sergey-akhalkov commented on #750
@diegocouto, just a friendly ping.

[2017-03-28 14:04] sergey-akhalkov commented on #771
Hi @zeljkoX, could you please verify if `CODE_PUSH_APK_BUILD_TIME` key value is in `resources,arsc` file?
You can find it like this:
![image](https://cloud.githubusercontent.com/assets/4928157/24409172/1a10afec-13d8-11e7-86f5-2f324cc3a570.png)
In case  you would not be able to find that value please try to re-install `react-native-code-push` module and then re-build your app.

Please let me know i

[2017-03-28 20:53] sergey-akhalkov commented on #768
Hi @chang-chaunce, you've probably faced with this issue due to breaking changes that have been introduced by [Android plugin for Gradle, revision 2.3.0](https://developer.android.com/studio/releases/gradle-plugin.html)
To fix the issue please try to downgrade your version of `Android plugin for Gradle` to `2.2.3` [here](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/Code

[2017-03-28 21:55] silhouettes commented on #715
For anyone else reading this issue in the future, please note that we can no longer service individual requests to restore deployment keys. If you have removed your deployment by accident, please create a new deployment and ship an app store update with your new deployment key.

[2017-03-28 22:07] zeljkoX commented on #771
Thanks for quick answer. I have checked for CODE_PUSH_APK_BUILD_TIME and it wasn't there. Reinstalled and relinked react-native-code-push and now it works.

[2017-03-28 22:07] #771 closed

[2017-03-28 22:11] silhouettes commented on #570
For anyone else reading this issue in the future, please note that we can no longer service individual requests to restore deployment keys. If you have removed your deployment by accident, please create a new deployment and ship an app store update with your new deployment key.

[2017-03-29 00:42] diegocouto commented on #750
Hi, @sergey-akhalkov! Thank you for your detailed response. 😄  I'll be working on this tomorrow and, as soon as I finish this and some other changes I'll update this issue, ok?

Thanks again! 😉

[2017-03-29 03:24] chang-chaunce commented on #768
@sergey-akhalkov  Thank you，you're right, I have fixed it.

[2017-03-29 03:24] #768 closed

[2017-03-29 05:08] jaeky commented on #769
It works successfully! thank you. 👍

[2017-03-29 05:08] #769 closed

[2017-03-29 05:17] just4fun commented on #767
Thanks @max-mironov , it helps!

[2017-03-29 05:17] #767 closed

[2017-03-29 10:06] coutliuxing opened #772 "[Android]App of updated slower"
Similar to this guy I met problems https://github.com/Microsoft/react-native-code-push/issues/739, but his problems have been left out, so I submit once again.After you finish the update won't appear this kind of problem?After the update, as is in debug mode.

[2017-03-29 10:31] sergey-akhalkov commented on #772
Hi @coutliuxing, if you don't mind, let's discuss the issue here https://github.com/Microsoft/react-native-code-push/issues/739, I just want to avoid duplication.

Closing this due to we already have the similar issue.

[2017-03-29 10:31] #772 closed

[2017-03-29 10:31] sergey-akhalkov commented on #739
Hello @coutliuxing, @WhynoChinese, thank you for reaching us the issue. Could you please answer several questions below to help us to determine the problem:
1) Can you try to reproduce this with our [sample app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp.)? If you can't reproduce the bug on it, provide us as much info as possible about your project (it

[2017-03-29 10:50] coutliuxing commented on #739
react-native-code-push:1.17.3-beta
react-native:0.42.0

MainApplication.java
![image](https://cloud.githubusercontent.com/assets/8907930/24451043/d4b9a56a-14af-11e7-8935-2f51e3f0921f.png)

build.gradle:
![image](https://cloud.githubusercontent.com/assets/8907930/24451075/f69dedd0-14af-11e7-9703-d005e86bf946.png)

commod:
![image](https://cloud.githubusercontent.com/assets/8907930/24451218/78b2c9d0

[2017-03-29 10:58] sergey-akhalkov commented on #699
Hi @ivpusic, I've tried to reproduce the issue but with no luck again, so I'm closing this for now.
Please feel free to reopen in case you able to reproduce this with our [sample app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp.). If you can't reproduce the bug on it, provide us as much info as possible about your project (it would be best if you could

[2017-03-29 11:07] coutliuxing commented on #739
Performance is a imageView, respectively in onPressIn and onPressOut change image, switching between will be delayed

[2017-03-29 11:09] sergey-akhalkov commented on #739
@coutliuxing, yeah, I could see that you've successfully released CodePush update and that your app is properly configured, except the `buildToolsVersion: "25.0.0"`, we and React Native are officially supporting  `buildToolsVersion: "23.0.1"`.
Could you please describe me what actually goes wrong (actual behavior)  and what you are expecting instead (expected behavior). Could you please also share

[2017-03-29 11:56] sergey-akhalkov commented on #739
@adrianha, @coutliuxing, could you please also confirm if the issue reproduces only in Release build?

[2017-03-29 12:23] sergey-akhalkov commented on #750
@diegocouto, great! Closing this, please feel free to reopen if needed.

[2017-03-29 12:23] #750 closed

[2017-03-29 12:50] imWildCat commented on #748
@quentinyang Chinese SDK? https://github.com/bang590/JSPatch/issues/751
These fuxxing SDKs contained JSPatch. They played the evil.

[2017-03-29 14:07] coutliuxing commented on #739
I didn't quite understand you the meaning of this passage, what do you mean I have set up like this before?

`new CodePush(BuildConfig.CODEPUSH_KEY, MainApplication.this, BuildConfig.DEBUG)`

[2017-03-29 14:16] sergey-akhalkov commented on #739
@corymsmith, could you please share your `index.android.js/index.ios.js` file contents? I just want to clarify how you are using `ImageView` and `onPressIn/onPressOut` events. Could you please also confirm if the the issue reproduces in Debug build on emulator too?

[2017-03-29 14:27] coutliuxing commented on #739
![36e7a3f0-b751-4d8a-be01-76799d7c3c3c](https://cloud.githubusercontent.com/assets/8907930/24459713/c52dbb44-14ce-11e7-949d-911fe9b1dd5a.png)
![9ea73f5e-b3fd-4425-8fe7-163fd42d627f](https://cloud.githubusercontent.com/assets/8907930/24459744/d86d0bc4-14ce-11e7-9383-2f6796bc9335.png)

[2017-03-29 14:30] coutliuxing commented on #739
@sergey-akhalkov No attempt at debug mode.In the simulator also has this problem

[2017-03-29 15:25] adrianha commented on #739
Yes, its occured when i run on `release` mode on real device @sergey-akhalkov .
When i run on `releaseStaging` mode, everything is alright even after fresh install.

I'm using react-native@0.41.2 and react-native-code-push@1.17.2-beta

[2017-03-29 15:34] coutliuxing commented on #739
@adrianha `releaseStaging` mode？？Can you share how this mode works?

[2017-03-29 15:35] sergey-akhalkov commented on #739
@adrianha, do you experiencing the same issue as in https://github.com/Microsoft/react-native-code-push/issues/739#issuecomment-290057696?
If I get it right you've got following repro steps:
1. Your app uses binary version, so animation is smooth.
2. You've released an CodePush update
3. Your app downloads and installs the CodePush update
4. After app restarts animations becomes slower

Could you

[2017-03-29 15:43] adrianha commented on #739
@sergey-akhalkov i think mine is different.
My app become slower when using binary version. It will be back to normal state after restart and applying the update from code push.
So, its the step:
1. Fresh install => using binary version (Animation is slow)
2. Got an update from code-push and downloading the updates in the background
3. Restart app to apply the update from code-push (Animation beca

[2017-03-30 02:42] coutliuxing commented on #739
@sergey-akhalkov One can reproduce the problem example
[patchTest.zip](https://github.com/Microsoft/react-native-code-push/files/880896/patchTest.zip)

[2017-03-30 05:01] neopit commented on #688
I have a similar error but now with a POD.

The trick with $(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME) seems to work but when there is a dependency that does not work anymore in particularly with GoogleToolboxForMac.

I tried to make some change on the PODS_CONFIGURATION_BUILD_DIR with the value $PODS_BUILD_DIR/Release$(EFFECTIVE_PLATFORM_NAME) but that does not work !

Someone as a solution wh

[2017-03-30 05:19] max-mironov commented on #757
@kevinhylant  - I'm closing the issue for now, please reopen or create a new one if you still have this problem.

[2017-03-30 05:19] #757 closed

[2017-03-30 07:38] sergey-akhalkov commented on #739
@adrianha,

It is really weird, have you tried to test `Fresh install` without CodePush module (remove it from js and java files), does the issue reproduce in this case? Is it possible that the root cause of the issue could be in your `release` build type configuration? Please try to use remove `minifyEnabled` and `proguardFiles` options from `release` build type and verify if the issue is reprodu

[2017-03-31 07:36] sergey-akhalkov commented on #739
@coutliuxing, thanks for the example app. I was able to reproduce the issue and I could see, that animation becomes a little bit slower after installing CodePush update than before, but I could not see huge impact.
I've found here http://stackoverflow.com/a/9563467 that `internal storage` (including `assets` directory) mush slower to access a file inside it, than `res` folder. CodePush SDK uses `i

[2017-03-31 07:46] sergey-akhalkov commented on #696
@vedovato, closing this for now, please feel free to reopen if the issue still reproduces or if you have any questions.

[2017-03-31 07:46] #696 closed

[2017-03-31 08:08] sergey-akhalkov commented on #760
Closing this due to #765 has been merged.

[2017-03-31 08:08] #760 closed

[2017-03-31 08:13] max-mironov commented on #718
@amourya-systango hi, do you have a chance to look at this?

[2017-03-31 08:44] sergey-akhalkov commented on #645
@Igor1201, I've created swift app using Xcode, then I've performed `pod install` command to install dependencies using provided by you `podfile` (including `use_frameworks!` line) and I've got no errors while building the swift app. So, could you please provide me with minimal version of your's react-native swift app where the issue reproduces? It would be very helpful, so I'll able to determine t

[2017-03-31 09:06] sergey-akhalkov commented on #736
Hi @rahulmishra-goibibo, sorry for late reply. Do you still experiencing the issue?
Do I get it right if you've released CodePush update for previous version of your app, let's say `1.1.1`, then you've increased app version to `1.1.2` and released you app to play store?
If so, I could propose, that some amount of your app users have installed CodePush update due to using old version `1.1.1` of you

[2017-03-31 09:26] sergey-akhalkov commented on #748
I'm closing the issue now as it turns out that code-push is valid for using with app store. Will reopen this one if any changes.

[2017-03-31 09:26] #748 closed

[2017-03-31 09:29] rahulmishra-goibibo commented on #736
Hi @sergey-akhalkov Thanks for the reply. But the above scenario does not apply to me. This was the first time that i had pushed an update for my app with codepush. And going by your example i released the version 1.1.1(with codepush) and after that i have neither increased the version nor updated it yet. Although currently the difference is not much, to be precise it's almost showing 6 thousands

[2017-03-31 09:57] sergey-akhalkov commented on #736
@rahulmishra-goibibo, CodePush SDK reports to the CodePush server if update was installed successfully on `componentDidMount` event. We also have implemented retry logic in case there is an error occurred while trying report deployment status (lost interned connection for example).
I could assume, that this mismatch have place due to there is a little difference between number of downloaded apps a

[2017-03-31 10:01] rahulmishra-goibibo commented on #736
@sergey-akhalkov Yes. Thank you for the clarification. Much appreciated

[2017-03-31 10:03] sergey-akhalkov commented on #736
@rahulmishra-goibibo, thank you for the response.
Closing this, please feel free to reopen if needed.

[2017-03-31 10:03] #736 closed

[2017-03-31 13:32] guilharj opened #773 "codepush.gradle : Must use react properties to identify node_modules and node binary path"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

codepush.gradle should consider the use of some project.ext.react properties.

[code]
The actual file checks where is the node_modules like this:
[code]

And runs node like this:

[code]

Bu They should use the mentioned variables as well.

### Additional Information

* react

[2017-04-01 09:11] just4fun commented on #767
Hey @max-mironov , I faced another issue when I want to release v2.0.0 which contains native changes as I mentioned above.

It is that the production release with code-push before has no `target-binary-version-parameter` set, that said if I release v2.0.0 to App Store, users with new app version will also receive the old updates.

I think there are two ways to resolve it.

- Release a new update w

[2017-04-03 02:27] kevinhylant commented on #757
Thank you for being so diligent with your responses on this issue - sorry for my very slow response - I had been on vacation. I will review your links and let you know if I need any further assistance / provide additional information if relevant.

[2017-04-03 02:44] jordanmkoncz commented on #661
Has this fix made it into a release yet? I've just followed the CodePush setup instructions from scratch, with `"react-native-code-push": "^1.17.3-beta"` being installed, and I had this same issue happen.

[2017-04-03 05:13] max-mironov commented on #766
@nerdmed - hi again, do you have a chance to look at this?

[2017-04-03 06:43] max-mironov commented on #661
@jordanmkoncz hello - yes, that fix should be present in recent [1.17.3 beta](url) version.
If you still see the issue is it possible for you to open another ticket and fill as much details as possible [here](https://github.com/Microsoft/react-native-code-push/issues/new) and we will look at?

[2017-04-03 07:05] max-mironov commented on #767
Hey @just4fun, if you use `code-push release-react` command than (more details [here](https://github.com/Microsoft/code-push/tree/master/cli#releasing-updates-react-native)) the following behavior will be performed:
TargetBinaryVersion of this release will be inferring by using the version name that is specified in your project's Info.plist (for iOS) and build.gradle (for Android) files.

So there

[2017-04-03 08:14] just4fun commented on #767
@max-mironov thank you.

[2017-04-03 08:30] jordanmkoncz opened #774 "CodePushDeploymentKey added to GoogleService-Info.plist instead of Info.plist file"
### Description

I've just followed the CodePush setup instructions from scratch, with `"react-native-code-push": "^1.17.3-beta"` being installed, and after running `react-native link react-native-code-push`, `CodePushDeploymentKey` is added to `GoogleService-Info.plist` instead of the `Info.plist file`. This appears to be the same issue as https://github.com/Microsoft/react-native-code-push/issue

[2017-04-03 08:30] jordanmkoncz commented on #661
@max-mironov Done :)

[2017-04-03 09:31] bulby97 opened #775 "App layout breaks after hot-push + upgrade from RN 0.42 to 0.43rc on iOS"
### Description

I just upgraded RN from 0.42 to 0.43rc in order to use FlatList.
After releasing the update on code-push with new RN update, I noticed that my layout was completely broken, plus I have some red borders on my containers.

Everything is Ok on debug and fresh prod install so I guess it's a codepush issue ?
Here is a gif, any ideas ?

![](https://media.giphy.com/media/l0IyehC9iVI00NDq

[2017-04-03 10:09] sergey-akhalkov commented on #775
Hi @bulby97, thank you for reaching us. Could you please verify if the issue also reproduces for react-native:  [0.43.0-rc.5](https://github.com/facebook/react-native/releases/tag/v0.43.0-rc.5)? Do I get it right that you are using `immediate` installation mode? If so, please try to close, then open app and verify if the issue still reproduces. Please let me know if any updates.

[2017-04-03 10:39] altruio commented on #272
@lostintangent Was experiencing the same, and I removed the getJSBundleFile per your advice and the problem indeed did stop occurring. I don't suppose this is a good solution if I want CodePush to still work in production though, so would you have any other advice? ;)

[2017-04-03 10:53] sergey-akhalkov commented on #272
Hi @altruio, could you please create [new issue using this template](https://github.com/Microsoft/react-native-code-push/issues/new), so we would able to help you?

[2017-04-03 11:39] lappalj4 opened #777 "Android release builds crash on fetching bundle (RN 0.42)"
### Description

After upgrading to react-native 0.42.3 and CodePush 1.17.2-beta, my app began crashing on startup. This is only happening on release builds, after running ```react-native run-android --variant=release```or ```cd android && ./gradlew assembleRelease```.

Interestingly enough, after installing the app on a device, the first time running it works fine. Only after closing the app once

[2017-04-03 12:02] bulby97 commented on #775
![image](https://cloud.githubusercontent.com/assets/3509412/24607981/a97c1a68-1874-11e7-9e37-9b7618031801.png)
Seems like the rc5 is not yet available.

It's not immediate, it's every time the app is starting.
I've already tested to close and open the app again, but nothing changes. :(

[2017-04-03 12:39] max-mironov commented on #774
Hello @jordanmkoncz, thanks for filling the issue.
You can help us to determine the issue more quickly by doing the following:

All "magic" of searching correct plist path is done here: ./node_modules/react-native-code-push/scripts/postlink/ios/postlink.js.

So [here ](https://github.com/Microsoft/react-native-code-push/blob/master/scripts/postlink/ios/postlink.js#L54)we try to determine correct p

[2017-04-03 12:40] lappalj4 commented on #777
Ok, it seems like the issue in this case is _what_ is being codepushed, not in CodePush itself. Thanks again, and sorry for the troubles.

[2017-04-03 12:40] #777 closed

[2017-04-03 14:26] jcharbo commented on #775
Hi @bulby97 , I seem to be having an issue upgrading to rc4 as well.  When I compile in Android I get the following:
`Error:09:23:37.487 [ERROR] [system.err] /Users/jeremeycharbonnet/thejump/node_modules/react-native-code-push/android/app/src/main/java/com/microsoft/codepush/react/CodePushNativeModule.java:22: error: cannot find symbol
09:23:37.487 [ERROR] [system.err] import com.facebook.react.ui

[2017-04-03 19:44] panarasi opened #778 "Support for React Native Unbundle"
Just like the bundle command, React Native also has an `unbundle` command, using `$ react-native unbundle`. Code-Push should also be able to support unbundled files.

Today, `code-push release-react` calls `react-native bundle` under the covers. For unbundling, we could see if we can reuse the `code-push` release command that can take in the folder that a user may have created using `react-native

[2017-04-04 07:34] sergey-akhalkov commented on #775
Hi @jcharbo, provided issue has been fixed in https://github.com/Microsoft/react-native-code-push/pull/735. I suppose that `react-native-code-push@2.0.0-beta` will be released very soon.

[2017-04-04 07:47] sergey-akhalkov commented on #775
@bulby97, React Native team have released new version of RN: `react-native@0.43.0`, please verify if the issue is fixed by the new release. In case the issue still reproduces, it would be very helpful if you'll provide me with code samples, so I would able to start investigation mush faster. Anyway I'll let you know if any updates.

[2017-04-04 08:39] bulby97 commented on #775
@sergey-akhalkov I confirm that the problem still exists with `react-native@0.43` and is not related to FlatList. Android seems ok (just released 0.43 on production on Android and no bugs), but when upgrading from 0.42 to 0.43 and hot push on iOS, I have that layout issue :(

Here is my branch: https://github.com/bulby97/Venez-et-Raisonnons/tree/feature/concordance
Hot-push with 0.42 is 100% ok.
S

[2017-04-04 09:00] sergey-akhalkov commented on #775
@bulby97, thank you for the explanation, I'll try to figure out what goes wrong and let you know if any updates.

[2017-04-04 13:20] sergey-akhalkov commented on #775
@bulby97, I've crated [sample app](https://github.com/Microsoft/react-native-code-push/files/893171/rncp775.copy.zip) that uses [FlatList from RN examples](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/FlatListExample.js) and I've got no layout issues after releasing and applying CodePush update, so is it possible that you are trying to apply js bundle (from CodePush

[2017-04-04 14:52] bulby97 commented on #775
@sergey-akhalkov this is exactly what I'm trying to do, sorry if I did not make it clear.

When I have time I'll try to create a sample app running on 0.42, and applying a code-push update running on 0.43

[2017-04-04 15:22] sergey-akhalkov commented on #775
@bulby97, I believe you should not apply js bundle compiled with RN0.43 to the app that is currently running RN0.42 or vice versa. It could lead unexpected issues due to the app running RN0.43 may have important native side changes that are not present in the app running RN0.42. The same is for js bundles - js bundle produced by RN0.43 may have another content (or way it interacts with the native

[2017-04-04 15:26] sergey-akhalkov commented on #775
@jcharbo, we've released new React Native Module for CodePush version: `react-native-code-push@2.0.1-beta`, please let me know if you have any issues.

[2017-04-04 15:30] bulby97 commented on #775
![](https://www.spreadshirt.fr/image-server/v1/designs/14878367,width=178,height=178/corbeau-anime.png)

Actually it's a very good and logical point and I don't even know why I didn't even think about it. I must be very tired.

Thanks a lot for your time and sorry ! Closing now.

[2017-04-04 15:30] #775 closed

[2017-04-04 15:31] sergey-akhalkov commented on #775
@bulby97, no problem, thank you for reaching us!

[2017-04-04 16:35] nerdmed commented on #766
@max-mironov sorry did not come to this as my workaround works for now. I will check it with my next release probably at the end of the week and try out your suggestions

[2017-04-04 17:40] jcharbo commented on #775
thanks @sergey-akhalkov , that fixed it

[2017-04-05 03:53] Kennytian opened #780 "Can not find ChoreographerCompat, ReactChoreographer in CodePushNativeModule.java"
Hello, guys

### Description

Upgrade to v2.0.1-beta, show can not find  ChoreographerCompat, ReactChoreographer in CodePushNativeModule.java

Now, we reinstall back to 1.17.3-beta, it's work.

### Additional Information

* react-native-code-push version:  **v2.0.1-beta**
* react-native version: **0.42.3**
* iOS/Android/Windows version: **Android 5.0**
* Does this reproduce on a debug build or rel

[2017-04-05 05:54] Lxxyx commented on #780
Same problem.

[2017-04-05 07:49] sergey-akhalkov commented on #780
Hello @Kennytian, @Lxxyx, thank you for reaching us. `react-native-code-push@2.0.1-beta` has no backwards compatibility with RN0.42 due to braking changes that has been made in RN0.43, I've updated [compatibility table](https://github.com/Microsoft/react-native-code-push#supported-react-native-platforms) to make it more clear.
Please let me know if you have any questions.

[2017-04-05 08:18] coutliuxing commented on #739
Okay , thank you very much ~

[2017-04-05 11:20] Rolando-Barbella commented on #482
I have a "similar" error but is coming from the  **node_mudule/react-native-code-push**  folder

[code]

"react-native": "0.42.x",
"react-native-code-push": "^2.0.1-beta"

gradle:2.2.3

[2017-04-05 11:36] max-mironov commented on #482
@Rolando-Barbella - hi, react-native-code-push 2.0.1 is not compatible with react-native 0.42x.
Please see https://github.com/Microsoft/react-native-code-push/issues/780 for details.

[2017-04-05 14:59] #780 closed

[2017-04-05 14:59] Kennytian commented on #780
@sergey-akhalkov  Thanks for you informations!

[2017-04-05 17:26] Igor1201 commented on #645
@sergey-akhalkov I'm sorry about the late reply too.
We've tried to reproduce this issue again without luck, even in your main project (which we'd removed CodePush from it, two weeks ago).
If we find something valuable on this issue again, I'll ping you.
Thanks for you time.

[2017-04-05 20:12] sergey-akhalkov commented on #645
@Igor1201, no problem! So I'm closing this for now, please feel free to reopen.

[2017-04-05 20:12] #645 closed

[2017-04-05 21:19] sergey-akhalkov commented on #739
@adrianha, just a friendly ping.

[2017-04-05 21:43] silhouettes commented on #780
To clarify for future use, any increment in the major version (from 1.x.x to 2.x.x, or from 2.x.x to 3.x.x) is a large change and should be done in consultation with our [release notes](https://github.com/Microsoft/react-native-code-push/releases/). We've updated our release notes to note this breaking change.

[2017-04-06 08:39] adrianha commented on #739
hi @sergey-akhalkov ,
i'll investigate this weekend. sorry for incovenience.

[2017-04-06 08:44] sergey-akhalkov commented on #739
@adrianha, no problem, I'm closing this for now, please feel free to reopen in case of any updates!

[2017-04-06 08:44] #739 closed

[2017-04-06 09:39] adrianha commented on #739
Thanks @sergey-akhalkov !

[2017-04-06 16:31] dayudodo commented on #271
I found maybe is the watchman problem, I use the react 0.41.2, it occured this issue, because I install the stage-0, error, so uninstall it, but still. finally, I delete all the project and git clone again, error still their! but same project is good at my PC! so, watchman watch-del-all, rebuild, everything OK!
ultimate solution
[code]

[2017-04-07 06:29] messense opened #782 "App crashed caused by `com.facebook.react.CodePushQueue` thread"
App crashed on startup after upgrading React Native to 0.41.2 and CodePush to 1.17.3-beta

[code]

### Additional Information

* react-native-code-push version: 1.17.3-beta
* react-native version: 0.41.2
* iOS/Android/Windows version: iOS 10.3
* Does this reproduce on a debug build or release build? release build
* Does this reproduce on a simulator, or only on a physical device? simulator and phy

[2017-04-07 06:33] messense commented on #782
![image](https://cloud.githubusercontent.com/assets/1556054/24788271/2ca03686-1b9f-11e7-8566-6a358a10b276.png)

[2017-04-07 10:44] sergey-akhalkov commented on #782
Hi @messense, thank you for reaching us. Could you please provide us what versions of `react-native` and `react-native-code-push` you've been used before upgrade?

Please also provide me with steps you've used to upgrade `react-native` and `react-native-code-push`
 to verify if the steps are the same as [here](https://github.com/Microsoft/react-native-code-push/blob/master/docs/setup-ios.md#plugin

[2017-04-07 12:23] sergey-akhalkov opened #784 "CodePush: won't install updates if an error occurs in codePushStatusDidChange method"
### Description

CodePush won't install updates in case there are unhandled exceptions are present in `codePushStatusDidChange` method (the same is for `codePushDownloadDidProgress` method).

### Reproduction

Add `throw Error("Break CodePush!")` line [in the end of `codePushStatusDidChange` method](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePushDemoApp/demo.js#L4

[2017-04-07 14:19] max-mironov commented on #572
@panarasi, @iageoghe - what do you think, do we need to proceed with this?
IMO this issue should be closed as far as we do not see anyone who claims about this for last several month (I believe it was fixed in RN 0.36+). Your insight here is much appreciated.

[2017-04-07 17:55] iageoghe commented on #572
@max-mironov I think your instinct is good here. RN has moved along past the issue.

[2017-04-07 17:55] #572 closed

[2017-04-08 03:36] messense commented on #782
@sergey-akhalkov I have checked installation, it's ok.

Before upgrading, I did a CodePush js bundle release to old version App(with RN 0.39) with `targetBinaryVersion` set to `~1.2`. Now the new version has binary version `1.3` build 1.

[code]

![image](https://cloud.githubusercontent.com/assets/1556054/24825345/9a983520-1c4f-11e7-80ed-6b9e345a67d4.png)

When a call `codePush.sync()` with `updat

[2017-04-10 00:41] dwilt opened #786 "Feature: Move Deployment Keys to JS side"
### Description

As this is a React Native plugin, and the developers who are going to be using it are most likely proficient in JS, it would be helpful if we could put our deployment keys on the JS side when we instantiate CodePush. Something maybe like:

[code]

Being that the JS side is usually `import`ing values from an `env` file when following the [12 factor](https://12factor.net/config) bes

[2017-04-10 00:41] dwilt commented on #786
And by the way, you guys built an incredible product. Nice job. 👍

[2017-04-10 05:41] max-mironov commented on #786
Hello @dwilt, thank you for your kind words, your feedback is highly appreciated!

As for your question - we have [CodePushOptions](https://github.com/Microsoft/react-native-code-push/blob/master/docs/api-js.md#codepushoptions) object that allows you to specify the deployement key, so you can use something e.g. like the following:
`codePush.sync({ deploymentKey: "KEY",  mandatoryInstallMode: codeP

[2017-04-10 05:42] max-mironov commented on #774
@jordanmkoncz please let us know if you have a chance to look at this.

[2017-04-10 05:43] max-mironov commented on #718
@amourya-systango - just a friendly ping :)

[2017-04-10 05:47] max-mironov commented on #766
@nerdmed - please let us know if you have any updates about this :)

[2017-04-10 05:58] dwilt commented on #786
@max-mironov This is exactly what I was looking for. You guys should mention this in the setup instructions because it seems like the only way to have it is by following the native instructions which involve putting keys in the `strings.xml` file for Android or in the `Info.plist` file for iOS.

Even on your [Getting Started](https://github.com/Microsoft/react-native-code-push#getting-started) pag

[2017-04-10 06:16] max-mironov commented on #786
@dwilt thank you for you feedback, we will look at how to improve our docs about this.

[2017-04-10 07:59] dwilt commented on #786
@max-mironov So I updated my main js file to look like this:

[code]
I also removed the key from `Info.plist` and `strings.xml`. However, when trying to build on Android, I'm getting this:

[code]
According to the [Android setup](https://github.com/Microsoft/react-native-code-push#android) it seems that we need to put the license key in the `android/app/build.gradle`? If you're saying all we need

[2017-04-10 08:24] max-mironov commented on #786
Hey @dwilt, you've got this error due to you remove this line from `strings.xml` but still reference it in CodePush constructor.
It looks like you should use the default behavior here like you noted above
`new CodePush(BuildConfig.CODEPUSH_KEY, MainApplication.this, BuildConfig.DEBUG)`
This way e.g. empty string will be initiated at first time and then you override this value from JS side.
Let me

[2017-04-10 08:27] dwilt commented on #786
That still breaks:

[code]
What does work however is just passing in an empty string:
[code]
This sort of this is absolutely missing from the documentation :)

[2017-04-10 08:27] #786 closed

[2017-04-10 10:03] amourya-systango commented on #718
Hi Max,

I will look into it let me know what I have to do? Am I test it with jest?

On Mon, Apr 10, 2017 at 11:13 AM, max-mironov <notifications@github.com>
wrote:

--
Regards,
Akhilesh Mourya
Associate Technical Architect
<http://www.systango.com/>

[2017-04-10 10:10] max-mironov commented on #718
Hey @amourya-systango, I just wanted to verify if you still experience the issue you have initially created. If you don't see any issues let us know if we can close it for now.

[2017-04-10 10:23] amourya-systango commented on #718
Sure Max, give me some time I will let you know that I'm experiencing the
issue again or not.

Thanks!

On Mon, Apr 10, 2017 at 3:40 PM, max-mironov <notifications@github.com>
wrote:

--
Regards,
Akhilesh Mourya
Associate Technical Architect
<http://www.systango.com/>

[2017-04-10 11:03] jordanmkoncz commented on #774
Hey @max-mironov, sorry I've been super busy and haven't had a chance to get back to about this. Should be able to get that extra info for you later this week.

[2017-04-10 11:59] sergey-akhalkov commented on #782
@messense, I've tried to reproduce the issue with the following repro steps, but with no luck:
1. Build app having version `1.0`
2. Release CodePush update `v1`: `code-push release-react rncp782-ios ios --targetBinaryVersion=~1.0`
3. Successfully Install CodePush update `v1` on app having version `1.0`
4. Build app having version `1.1`
5. Receive `App up to date` message.

So could you please corr

[2017-04-10 12:44] max-mironov commented on #774
@jordanmkoncz np, that's ok, thanks for heads up! Will wait for your response.

[2017-04-10 12:56] messense commented on #782
I tried to add some logging in `CodePush.js`:

[code]

Oh, the label `v8` is not goood, so I checked the release history. Apparently I did a wrong `targetBinaryVersion` release a long time ago, it was set to `1`... After I patched the metadata, it did not crash again.

My bad.... Thanks for your help!.

[2017-04-10 12:56] #782 closed

[2017-04-10 12:57] sergey-akhalkov commented on #782
@messense, no problem!

[2017-04-10 16:07] claykohut opened #788 "disallowRestart not working"
Disallow restart doesn't seem to be working for me.

I have installMode set to ON_NEXT_RESUME and am setting disallowRestart in a componentDidMount. The app is logging the disallow restart but still restarts on resume after disallowRestart is called.

Can anyone please help?

### Additional Information

* react-native-code-push version: 1.17.2-beta (same issue with 2.0.1-beta)
* react-native versi

[2017-04-10 18:06] skleest opened #789 "Apple Watch support"
Hi Code Push team,

Following up on our email conversation--opening up an issue to support Watch extension apps on iOS. Thanks!

[2017-04-11 04:22] natdm opened #790 "CodePush not reaching android? Bad Configuration?"
Not sure if my configuration is wrong or what.

React Native .42
CodePush ^1.16.1-beta

Here is my `MainApplication.java`:
[code]

My `settings.gradle` contains:
[code]

My `android/app/build.gradle` contains at the top:
[code]

When I run `code-push release-react bideasy_rn android -m && code-push promote bideasy_rn Staging android`, it does not seem to update my application. (note: this app does

[2017-04-11 08:50] sergey-akhalkov commented on #788
Hi @claykohut, I've investigated the issue, seems like there is a mismatch between the documentation and implementation. [Documentation says](https://microsoft.github.io/code-push/docs/react-native.html#codepushdisallowrestart) that `disallowRestart` works with `InstallMode.ON_NEXT_RESUME`, but from the source code I can see the following:
1. `disallowRestart` method [affects ](https://github.com/

[2017-04-11 09:53] sergey-akhalkov commented on #366
Closing this due to #770 has been merged

[2017-04-11 09:53] #366 closed

[2017-04-11 23:21] rahuljiresal opened #791 "[Android]: when the app version scheme is like "2.0.0-beta", can't find update"
### Description

When the version of the Android app is something like 2.0.0-beta (we have that version scheme for internal versions), CodePush always returns `An update is available but it is not targeting the binary version of your app.`. This happens even if you specify `"*"` in `code-push release`.

### Reproduction

Just rename the version scheme to have some text like mentioned above and you

[2017-04-12 07:18] sergey-akhalkov commented on #790
Hi @natdm, thank  you for reaching us. Could you please execute `code-push debug android` command and share output with me?
It seems like you've got `The CodePush module doesn't appear to be properly installed. Please double-check that everything is setup correctly.` error. To fix it please try to remove `new CodePush("REDACTED", MainApplication.this, BuildConfig.DEBUG)` line from `protected List<

[2017-04-12 08:35] max-mironov commented on #791
Hello @rahuljiresal, code-push uses [semver](https://github.com/npm/node-semver) package internally as a semver parser, so for version `2.0.0-beta` this check `semver.satisfies('2.0.0-beta', '*')` returns `false`.

You should release an update with version `2.0.0-beta` if you are going to target prerelease tags in your updates.
Please let us know if it helps.

[2017-04-12 08:42] max-mironov commented on #791
Also please see https://github.com/Microsoft/code-push/issues/335 for more info.

[2017-04-12 10:25] lelup opened #792 "[Android]Error CodePushNativeModule.java:22: error: cannot find symbol when I set up code push in my Project."
:react-native-code-push:processReleaseJavaRes UP-TO-DATE
:react-native-code-push:compileReleaseJavaWithJavac
/Users/admin/bds/node_modules/react-native-code-push/android/app/src/main/java/com/microsoft/codepush/react/CodePushNativeModule.java:22: error: cannot find symbol
import com.facebook.react.modules.core.ChoreographerCompat;
                                      ^
  symbol:   class Choreogra

[2017-04-12 10:31] max-mironov commented on #792
Hey @lelup what version of RN and RN CodePush you are on?
I believe the issue might be because you use RN <43 with latest version of RN CodePush plugin.  Please see our [compatibility table](https://github.com/Microsoft/react-native-code-push/tree/v2.0.1-beta#supported-react-native-platforms) for details.

Please let us know if it helps.

[2017-04-12 10:35] lelup commented on #792
Hi @max-mironov
I used "react-native": "^0.41.2" and "react-native-code-push": "^2.0.2-beta" in my app. I will check your help. Thanks!

[2017-04-12 10:36] max-mironov commented on #792
@lelup got it, that should be the issue. I'm closing the ticket for now, feel free to reopen/create a new one if you have any questions.

[2017-04-12 10:36] #792 closed

[2017-04-12 13:48] natdm commented on #790
There's no output for `code-push debug android`.

I do have this in the console, I just realized:

[code]

This doesn't happen with iOS.. and it doesn't show any installs or rollbacks in the cli

[code]

[2017-04-12 13:54] natdm commented on #790
Got some debug logs:
[code]

[2017-04-12 14:51] jjdp opened #793 "Installmode immediate app restart results in black screen."
### Description

I have set mine as `App = codePush({installMode: codePush.InstallMode.IMMEDIATE})(App);` so the app will restart when the update is downloaded and installed. The problem is that I'm getting a black screen accompanied with these continuous errors in adb logcat until i manually close the app and then it is fine afterwards when i reopen...

[code]

![video-1492003233](https://cloud.g

[2017-04-13 07:36] sergey-akhalkov commented on #790
@natdm, please also add
[code]
method to the `MainApplication` class and let me know if any changes.

[2017-04-13 07:41] max-mironov commented on #793
Hey @jjdp, thanks for reaching us.
Can you try to reproduce this issue on [our basic sample,](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp), so we've updated it recently and didn't see such kind of problem here.
Otherwise it would be great if you provide us more info on how you instantiate code-push or other special conditions met in your app.

[2017-04-13 11:23] iambanh2 commented on #792
I got problems. I using RN version "react-native": "0.41.2". How to fix this problem.

[2017-04-13 11:28] max-mironov commented on #792
Hello @iambanh2, you can probably do one of the following:
1) Upgrade RN to 0.43.x version and use react-native-code-push 2.0.x versions
2) Use react-native-code-push 1.17.x versions with RN 0.40-0.42 versions.

Please choose whatever is more convenient to you.

[2017-04-13 11:40] nerdmed commented on #766
@max-mironov thanks again for your support. Finally got it running but i had to change the code a little. For me it works with the following:

[code]

Exporting first and then applying codePush does not work. Adding the installMode fixed the problem.

[2017-04-13 11:40] #766 closed

[2017-04-13 11:52] max-mironov commented on #766
@nerdmed thanks for heads up, this will be useful for further reference if we get the same error. Thanks again, appreciate it!

[2017-04-14 00:45] natdm commented on #790
It's already in there.

[2017-04-14 04:01] xwartz opened #795 "Attempt to invoke virtual method 'char[] java.lang.String.toCharArray()' on a null object reference"
### Description

This crash happens on Android,  but we do not have the relevant equipment, only have the Fabric crash log.

### Reproduction

Fabric logs:

[code]

### Additional Information

* react-native-code-push version: 1.15.0-beta
* react-native version: 0.37.0
* Android: Xiaomi/Galaxy S7 Edge/Galaxy J5/Xperia Z5 Premium Dual/
* Operating Systems: 5/6/7
* Does this reproduce on a debug bui

[2017-04-14 07:41] max-mironov commented on #791
@rahuljiresal, I believe we can close the issue now, please let us know if any questions.

[2017-04-14 07:41] #791 closed

[2017-04-14 07:47] max-mironov commented on #718
@amourya-systango I'll close the issue currently, please feel free to reopen it if any questions or if you see any issues.

[2017-04-14 07:47] #718 closed

[2017-04-14 10:24] sergey-akhalkov commented on #790
@natdm,

Could you please clarify - have you added `getJSBundleFile` method directly in `MainApplication`, not in the  `ReactNativeHost`:
[code]

[2017-04-14 12:10] natdm commented on #790
So I added that to the `MainApplication` directly as you stated. I had to take out `@Nullable`for it to compile, though. It'll compile and crash -- my guess is something to do with no `@Nullable`? (not a big Java developer..)

If I don't take that out, I get this error:
[code]

When I push updates now (without `@Nullable`), I see this:
[code]

[2017-04-14 12:51] sergey-akhalkov commented on #790
@natdm, I've just tried to use CodePush with `react-native-navigation` module and it works well for me:
1. Copy https://github.com/wix/react-native-navigation/tree/master/example
2. Install CodePush
3. Change `MainApplication.java` file like this:
[code]
4. Change [this line](https://github.com/wix/react-native-navigation/blob/master/example/src/screens/index.android.js#L19) to:
[code]
Please look

[2017-04-17 03:12] lelup opened #797 "[Android] It seem to be case codePush.SyncStatus.DOWNLOADING_PACKAGE not run?"
I used progress bar and codePush for my app, in iOS it worked fine but in ANDROID my Launch screen show nothing.
How can I fix it? My code below:

![screen shot 2017-04-17 at 10 14 51](https://cloud.githubusercontent.com/assets/19283388/25077751/e927d46c-2356-11e7-9681-f1a4734801b2.png)
![screen shot 2017-04-17 at 10 15 16](https://cloud.githubusercontent.com/assets/19283388/25077753/eb4c56f0-2356

[2017-04-17 04:44] MrMYHuang opened #798 "codePushDownloadDidProgress called twice with receivedBytes == totalBytes"
Thanks so much for filing an issue or feature request! Please fill out the following (wherever relevant):

### Description

I use codePushDownloadDidProgress for notifying my app update progress. And my app want to show an app dialog after the download finishes:
[code]
However, I find my app actually shows the dialog twice. Is this a bug of codePushDownloadDidProgress?
The complete source code is

[2017-04-17 04:53] MrMYHuang commented on #798
I find a workaround: use codePushStatusDidChange's codePush.SyncStatus.UPDATE_INSTALLED case.

[2017-04-17 07:40] sergey-akhalkov commented on #797
Hello @lelup, thank you for reaching us. I've just tried to reproduce the issue but with no luck. Could you please take a look at our [sample app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp) and verify if it works for you? You also could [find there](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePushDemoApp/demo.js#L20) t

[2017-04-17 07:44] max-mironov commented on #774
@jordanmkoncz, just gentle ping on this :)

[2017-04-17 07:53] sergey-akhalkov commented on #795
Hello @xwartz, thank you for reaching us. It's really strange, we have not seen this issue before. Please let me know if you have any ideas (source code) that could help me to reproduce the issue.

[2017-04-17 14:57] lelup commented on #797
@sergey-akhalkov Thanks for your support!
By the way, I would like to ask you :
Is there any way to change the language of Alert updated when I run code-push?

[2017-04-17 21:14] cooperka opened #799 "Wrong error message when failing to load JS bundle [iOS]"
### Description

After upgrading to RN v0.43 and CodePush v2.0.2-beta, I can no longer run iOS release builds. This happened on my own app, as well as the example app in this repo. It works fine on Android.

Whether running from Xcode or using `run-ios`, the app fails in [`[ensureBinaryBundleExists]`](https://github.com/Microsoft/react-native-code-push/blob/master@%7B2017-04-16%7D/ios/CodePush/Cod

[2017-04-18 07:25] sergey-akhalkov commented on #797
@lelup, [here is the dialog options](https://github.com/Microsoft/react-native-code-push/blob/master/typings/react-native-code-push.d.ts#L158) that you can customize, just like this:
[code]
Please let me know if you have any questions or see any issues.

[2017-04-18 07:51] lelup commented on #797
yep! many thanks @sergey-akhalkov

[2017-04-18 07:56] sergey-akhalkov commented on #797
@lelup, no problem! I'm closing this for now, please feel free to reopen in case of any questions or issues.

[2017-04-18 07:56] #797 closed

[2017-04-18 16:27] pcarion commented on #699
I also have the exact same issue issue described by ivpusic: after a code-push update of the app, the application is missing quite a few images using a source using require('path'). Once we navigate away from those broken screens and come back, the images appear again. This makes it quite impossible to use code-push at this stage then.
RN version: 0.43.3
code-push: 1.12.6-beta  (I will update that

[2017-04-18 16:36] max-mironov commented on #799
Hello @cooperka.
Due to you use `debug` scheme for building the project (Product-> Scheme -> Edit Scheme -> Run -> Build Configuration) you need to inject the following logic before you init codePush in `AppDelegate.m`:

[code]

We should add this to our example app too, thanks for pointing at this.

Another option should be to use `Release` Build Configuration instead of `Debug`.

Please verify i

[2017-04-18 16:44] cooperka commented on #799
Hi @max-mironov, as mentioned in the original description I have tried both of those solutions already. Here's my code:

[code]

It works in `Debug`, but not in `Release`.

[2017-04-18 18:54] cooperka commented on #799
It turns out this was a false-positive error message from CodePush; there was an error in the transpiled `bundle.js` that caused React Native to fail to load the source code, causing `[self binaryBundleURL]` to be false.

Maybe the debug message could be made more clear, or only output in `Debug` builds? I'd be happy to make a PR if you have a preference.

[2017-04-18 19:23] sergey-akhalkov commented on #699
Hello @pcarion, thank you for reaching us. Could you please answer several questions:
1. Do you use testflight to test your app?
2. Does your app use https://github.com/react-community/react-navigation module for navigation?
3. Does the issue reproduce both for Android and iOS?

I'll try to reproduce the issue again using [example apps](https://github.com/react-community/react-navigation/tree/mast

[2017-04-18 19:26] silhouettes commented on #699
Also, have you ever reproduced the issue on a simulator, or does it only ever happen on the device? Would either of you (@pcarion, @ivpusic) be willing to share your code with us so that we can reproduce it?

[2017-04-19 17:36] ndbroadbent commented on #426
Hi, I also ran into an issue, and came straight here. But for me, I just had to run `pod install`, and then everything worked after that.

[2017-04-19 18:38] cmoody commented on #699
react-native-code-push version: v2.0.1-beta
react-native version: 0.43.0

I am having similar issues and thought I would toss in a few thoughts to possibly help get to the heart of the issue.

One thing I would suggest is tossing in what items you are using for codePush.sync.  I am running the following in componentDidMount on my entry component.

`codePush.sync({
      installMode: codePush.Insta

[2017-04-19 21:27] ndbroadbent commented on #426
Argh I still struggled with this for quite a while, but then I realized that you need to build a Release version first, before building Staging. (Because I changed the 'build products path' to `$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)`.)

[2017-04-19 22:16] ndbroadbent opened #802 "Can't seem to get CodePush to work in iOS release or staging build (RN v0.43.3)"
### Description

I followed all of the instructions to set up CodePush, and everything is working fine in Android. But it seems to be failing silently iOS, so I have no idea what I need to change. I am testing in the iOS Simulator, using the "Staging" configuration that I set up while following the [multi-deployment instructions](https://github.com/Microsoft/react-native-code-push/blob/master/READ

[2017-04-20 05:05] max-mironov commented on #793
@jjdp - hi, do you have a chance to look at this?

[2017-04-20 06:24] jjdp commented on #793
@max-mironov i will take a look at it next week when i have time. it probably is because of other libraries

[2017-04-20 07:08] tlcheah2 commented on #600
Is that means if rollback happened, there would be no way for the user that was roll backed to install the latest update through codePush ?
Rather, the user would need to uninstall the whole application and reinstall it as fresh app.

[2017-04-20 07:14] sergey-akhalkov commented on #802
Hello @ndbroadbent, thank you for reaching us.
React Native disables logging in Release mode by default, to enable it, you could try the following: https://gist.github.com/huston007/61490dbc3269d89e4ac2e310fe21c554
Please let me know if it helps.

[2017-04-20 12:52] sergey-akhalkov commented on #699
Hey guys, I've reproduced the issue but for Android only, so I've [created new issue in React Native repo](https://github.com/facebook/react-native/issues/13600) due to it reproduces even if CodePush module not integrated into the project.
As for iOS - i'm still trying to repro it, so it would be great if someone who experiencing the issue could share source codes (or reproduce it using sample app

[2017-04-20 13:44] cooperka commented on #600
@tlcheah2 correct, to install the **same exact** version that was automatically rolled back, you need to either clear the app's data (so it forgets it rolled back the update) or just push a new version.

[2017-04-20 16:15] cmoody commented on #699
Ive tested that project on iOS and it works perfect.  All images load as expected relatively fast.  I took that project and changed it to the following to add CodePush.

react-native: 0.43.3
react-native-code-push: 2.0.2-beta

`/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 * @flow
 */

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  I

[2017-04-21 13:47] sergey-akhalkov commented on #699
Hi @cmoody, got it, please let me know if any changes.
So as for Android - it seems like it is a known issue that have place due to memory problem, I've found workaround: add android:largeHeap="true" to AndroidManifest.xml Application section. I've tested it and it works well for me, please verify if it fixes the issue for Android and let me know if any changes.

[2017-04-22 08:53] mike623 opened #805 "code-push release-react [both platform]"
I am confusing about release flow becoz I cannot release both platform at the same time. Is there any reason to restrict that? For now. I have to `code-push release-react android` and `code-push release-react ios` for different platform but I have no idea to see which platform I release in `code-push deployment history`. As the screenshot below, I have duplicate message. but I forgot which `label`

[2017-04-22 19:09] max-mironov commented on #805
Hey @mike623 we recommend to create separate CodePush applications for each platform to avoid issues when e.g. you have released an update for iOS but your Android app also shows an update and it breaks it.

This will help to avoid such problems like were described e.g. here: https://github.com/Microsoft/react-native-code-push/issues/723
Please let us know if you have more questions.

[2017-04-24 01:13] Terfender opened #806 "App Crashes or UI issues on Production"
Hi,

### Description

My app works completly fine on simulator or physical device if it is installed via xCode (debug or release mode). But when I download it from AppStore => Push new code to production `code-push release-react App-name ios -m` `code-push promote App-name Staging Production` => Launch the app => it gets synced with Codepush repo => crashes silently? even though I have `Crashlytic

[2017-04-24 02:18] Terfender commented on #806
I am closing this because I have doubt that I am using new libs which touches native codes.

I will confirm that the issues are gone when I submit the new binaries to the stores.

[2017-04-24 02:18] #806 closed

[2017-04-24 07:33] sergey-akhalkov commented on #802
@ndbroadbent, closing this for now, please let me know if you have any questions or see any issues.

[2017-04-24 07:33] #802 closed

[2017-04-24 07:39] sergey-akhalkov commented on #790
@natdm, closing this for now, please feel free to reopen if needed.

[2017-04-24 07:39] #790 closed

[2017-04-24 07:43] max-mironov commented on #774
@jordanmkoncz if you don't mind I'll close it for now, please reopen when you have a chance to revisit it.

[2017-04-24 07:43] #774 closed

[2017-04-24 07:47] sergey-akhalkov commented on #795
@xwartz, just a friendly ping.

[2017-04-24 09:40] yellowChao opened #807 "api suggestion"
in iOS platform, can you add a class method ?

CodePush.h file
ex: - (void)specifyBundleUrl:(NSURL*)url;

on this way , i think it will be better that only one parameter

[2017-04-24 09:55] sergey-akhalkov commented on #807
Hello @yellowChao, thanks for reaching us. To specify js bundle url you need to change `jsCodeLocation` [variable value](https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePushDemoApp/iOS/CodePushDemoApp/AppDelegate.m#L29). In case you want to change js bundle file name you need to use `bundleURLForResource` [method](https://github.com/Microsoft/react-native-code-push/blo

[2017-04-24 09:57] xwartz commented on #795
@sergey-akhalkov
Hi, I can not reproduce this issue, only occurs on some device.

[2017-04-24 10:28] yellowChao commented on #807
@sergey-akhalkov I tried configure CodePush by this way
`[CodePush bundleURLForResource:@"main" withExtension:@"jsbundle" subdirectory:@"Frameworks/User.framework/User.bundle"];`

it requires 3 args and not flexible, can you add a method like this:
`[CodePush specifyBundleResource:@"Frameworks/User.framework/User.bundle/main.jsbundle" ]`
so we can use it simpler.
☺️

[2017-04-25 06:48] max-mironov commented on #805
@mike623 - please let us know if you need any further assistance with this.

[2017-04-25 07:08] Temereru opened #808 "CodePush Deployment key is not valid on IOS"
Hi
I'm new in codePush, and I have a problem
i connected my reactNative app to codePush, in android it is working fine
but in ios..
I followed this instructions https://github.com/Microsoft/react-native-code-push#ios
but still I got this message on my xCode log
![image](https://cloud.githubusercontent.com/assets/17434097/25372343/b2e02164-299d-11e7-8069-8e0df76bac86.png)

I also added some logs in

[2017-04-25 09:44] sergey-akhalkov commented on #808
Hi @Temereru, thanks for reaching us. Could you please clarify - are you using the same deployment key both for Android and iOS? If so, you need to create new app in CodePush CLI and set new deployment key for iOS:

Then you need to release CodePush update for iOS: `code-push release-react myapp-ios ios`. Please let me know if it helps.

[2017-04-25 10:05] matt33 opened #810 "[Android] Users experiencing long application hangs on app opening."
### Description
Mostly Android users are experiencing long white screen hangs on app start after introducing the code push, app just freezes and nothing happens. iOS users experience this as well but less frequently - once per day. When I checked `code-push deployment history OurApp-Android Production` I can see that there is a lot of rollbacks for android platform.
[code]
Our root container is wr

[2017-04-25 10:16] Temereru commented on #808
I have 2 different apps for android and ios
but now I added the deployment key in my index.js - hardcoded, and it is working fine
you can close this issue
thanks for helping :)

[2017-04-25 10:31] sergey-akhalkov commented on #807
@yellowChao, as of now, we are extremely backlogged and currently working on "Code signing" and "Support brownfield React Native apps" features, so we'll be very grateful if you could try to implement this enhancement (it does not look very difficult) and publish PR to deliver this method faster.
As of now you can use `[CodePush bundleURLForResource:@"main" withExtension:@"jsbundle" subdirectory:@

[2017-04-25 10:33] sergey-akhalkov commented on #808
@Temereru, got it, thank you, so I'm closing this for now, please feel free to reopen if needed.

[2017-04-25 10:33] #808 closed

[2017-04-25 12:10] sergey-akhalkov commented on #795
@xwartz, I also have not reproduced the issue, but due to you are using `react-native-code-push` having version `1.15.0-beta` I would recommend you to upgrade it to `1.15.1-beta`, because [that release](https://github.com/Microsoft/react-native-code-push/releases/tag/v1.15.1-beta) contains fix for similar issue:

So I'm closing this for now, please feel free to reopen, we'll also reopen it in case

[2017-04-25 12:10] #795 closed

[2017-04-26 06:32] max-mironov commented on #805
Closing the issue, feel free to reopen if any Q's.

[2017-04-26 06:32] #805 closed

[2017-04-26 09:36] max-mironov commented on #799
Hi @cooperka - do you have a chance to look at this? We can also enhance the error message - just let us know what description you believe fits best for your case. Please let us know what you think about this.

[2017-04-26 11:13] matt33 commented on #810
Just simulated it - when I download the app from the play store, it runs well for the first time. But then when I launch it and update should be installed to the latest available the application hangs on white screen.
Is this because there was a lot of code-push releases since we made the app available in the play store? Is there any way to debug this or see what is happening?

[2017-04-26 12:59] cooperka commented on #799
Thanks for the reminder, @max-mironov. I haven't quite gotten around to this yet, but I was thinking of just disabling the error message for `Release` builds since the message doesn't apply (in fact suggestion #3 is to use a release build). I think it's a pretty rare problem though (only occurs if you have a syntax error in the transpiled code), so I haven't really prioritized the fix 😿

[2017-04-26 13:29] max-mironov commented on #799
@cooperka - thanks for this. Can you please have a look at this PR: https://github.com/Microsoft/react-native-code-push/pull/811 and let us know if we are good here or should change error message to be more descriptive.

[2017-04-26 14:43] sergey-akhalkov commented on #810
Hello @matt33. thanks for reaching us. Please take a look at comments below:

To achieve it you need to use an exception reporter library, so it will allow you to track and report the exceptions both for native side and js code.

It's hard to say what went wrong or reproduce it without any code samples. Does the issue reproduces for all releases you have uploaded or it have started to reproduce fr

[2017-04-27 11:11] jjdp commented on #793
it seems to be caused by proguard because of this warning: `com.facebook.fbui.textlayoutbuilder.proxy.StaticLayoutProxy: can't find referenced method 'StaticLayout(java.lang.CharSequence,int,int,android.text.TextPaint,int,android.text.Layout$Alignment,android.text.TextDirectionHeuristic,float,float,boolean,android.text.TextUtils$TruncateAt,int,int)' in library class android.text.StaticLayout

I ha

[2017-04-27 11:25] max-mironov commented on #793
@jjdp - thanks for this. Do I get it right that this is related to 3rd party library and not related to code-push and therefore we can close it (as far as it is discussed in another thread)?

[2017-04-27 11:38] jjdp commented on #793
it isn't related to any 3rd party libs at all. it seems to be an issue with RN or the code-push lib compatibility with the `StaticLayout `or `StaticLayoutProxy`

[2017-04-27 11:49] max-mironov commented on #793
@jjdp so have you tried to reproduce this without CodePush? Or you have started seen this issue only after CodePush was added to your app?

[2017-04-27 11:58] jjdp commented on #793
i cant reproduce it without codepush since the api has function to reload RN's bundle

[2017-04-27 12:00] jjdp commented on #793
the simplest solution i guess would be to turn off proguard but that would be disappointing

[2017-04-27 12:14] max-mironov commented on #793
@jjdp we are not using `StaticLayoutProxy` dependency at CodePush source code at all unlike RN have [this one](https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=staticlayoutproxy&type=), so probably the only way to avoid it is to use solution provided by you [above](https://github.com/facebook/react-native/issues/11891). So I believe this issue relates to RN only because [in this ex

[2017-04-27 12:36] jjdp commented on #793
i see. thank you for the info

[2017-04-27 12:58] #793 closed

[2017-04-27 13:21] matt33 commented on #810
Thanks a lot for the response @sergey-akhalkov
We'll try installing bugsnag and debug some more, will post the answer once we have some conclusion.

[2017-04-27 13:33] sergey-akhalkov commented on #810
@matt33, no problem! Don't you mind if I close the issue for now, so we will reopen it in case you'll find out more info regarding to it?

[2017-04-28 04:58] huangdou0204 opened #814 "ios debug killed rollback"
IOS in the debug mode to kill APP rollback,
1. After the update is complete, notifyAppReady was successfully called
2. The next startup shows the previous version, and the status of the detection is: SyncStatus.UP_TO_DATE

Look at my code: ⬇️⬇️⬇️⬇️

[code]